@charset "UTF-8";
/*================================================================
Chrome/Firefox/Edgeなど、各ブラウザはそれぞれデフォルトで効くCSSを持っています。
何もしないと見え方が微妙に変わるので、デフォルトのCSSをリセットして
ブラウザごとの表示の差異をなくすために書くのが「リセットCSS」です。
================================================================*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

@font-face {
  src: url("../fonts/Lato-Bold.ttf") format("truetype");
  font-family: "Lato";
  font-weight: bold;
  font-style: normal;
  font-display: swap; /* フォントファイルを読み込むまで代替フォントを使って表示 */
}
@font-face {
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
  font-family: "Lato";
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* フォントファイルを読み込むまで代替フォントを使って表示 */
}
@font-face {
  src: url("../fonts/NotoSansJP-Bold.ttf") format("truetype");
  font-family: "Noto Sans JP";
  font-weight: bold;
  font-style: normal;
  font-display: swap; /* フォントファイルを読み込むまで代替フォントを使って表示 */
}
@font-face {
  src: url("../fonts/NotoSansJP-Regular.ttf") format("truetype");
  font-family: "Noto Sans JP";
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* フォントファイルを読み込むまで代替フォントを使って表示 */
}
html {
  font-size: 100%;
}

body {
  color: #333;
  background: #FFF;
  font-family: "Noto Sans JP", sans-serif, "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom; /* 画面下の隙間を消す */
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  font-family: "Noto Sans JP", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 3%;
}
@media screen and (max-width: 767px) {
  .container {
    padding: 0 4.2666666667%;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .flex.flex-md {
    display: block;
  }
}

.color-bg-1 {
  background-color: #EFEFEF;
}

.section__inner {
  padding: 100px 0 120px;
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .section__inner {
    padding: 70px 0 90px;
  }
}
@media screen and (max-width: 767px) {
  .section__inner {
    padding: 40px 0 60px;
  }
}

.section__title {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  color: #333;
  margin-bottom: 80px;
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .section__title {
    margin-bottom: 78px;
  }
}
@media screen and (max-width: 767px) {
  .section__title {
    margin-bottom: 48px;
  }
}
.section__title::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background-color: #3f51b5;
  margin: 24px auto 0;
}

.btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-block;
  max-width: 304px;
  width: 90%;
  height: 56px;
  background-color: rgba(0, 0, 0, 0.32);
  border: none;
  border-radius: 8px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}
.btn:hover, .btn:focus {
  outline: none;
  opacity: 0.7;
}
.btn.btn__arrow {
  position: relative;
}
.btn.btn__arrow::after {
  content: "";
  display: block;
  width: 17px;
  height: 16px;
  background: transparent url(../images/button-arrow@2x.png) no-repeat center/contain;
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/*=================================
header
=================================*/
header {
  background-color: #3f51b5;
  width: 100vw;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1607843137);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1607843137);
}
@media screen and (max-width: 767px) {
  header {
    height: 60px;
  }
}

.header-inner {
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .header-inner {
    height: 60px;
  }
}

.header__logo {
  width: 205px;
}
.header__logo a {
  display: block;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .header__nav {
    position: absolute;
    z-index: 999;
    width: 53.3333333333%;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: #FFF;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1607843137);
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.1607843137);
    -webkit-transform: translateX(105%);
            transform: translateX(105%);
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  }
  .header__nav.is-open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .header__nav.is-open::before {
    content: "";
    cursor: pointer;
  }
}
.header__nav .hamburger {
  display: none;
}
@media screen and (max-width: 767px) {
  .header__nav .hamburger {
    display: block;
    width: 22px;
    height: 20px;
    position: absolute;
    top: 20px;
    left: calc(-22px - 4.2666666667vw - 5%);
    cursor: pointer;
  }
  .header__nav .hamburger .hamburger__bar {
    display: block;
    width: 22px;
    height: 4px;
    background-color: #FFF;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  .header__nav .hamburger .hamburger__bar:nth-child(1) {
    top: 0;
  }
  .header__nav .hamburger .hamburger__bar:nth-child(2) {
    top: 8px;
  }
  .header__nav .hamburger .hamburger__bar:nth-child(3) {
    top: 16px;
  }
  .header__nav .hamburger.is-open .hamburger__bar:nth-child(1) {
    top: 8px;
    width: 26px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header__nav .hamburger.is-open .hamburger__bar:nth-child(2) {
    opacity: 0;
    height: 0;
  }
  .header__nav .hamburger.is-open .hamburger__bar:nth-child(3) {
    top: 8px;
    width: 26px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@media screen and (max-width: 767px) {
  .header__nav__item {
    width: 100%;
    height: 56px;
    border-bottom: 1px dotted #707070;
    position: relative;
  }
  .header__nav__item:hover {
    background-color: #EFEFEF;
  }
}
.header__nav__item:not(:first-child) {
  margin-left: 40px;
}
@media screen and (max-width: 767px) {
  .header__nav__item:not(:first-child) {
    margin-left: 0;
  }
}
.header__nav__item a {
  padding-bottom: 8px;
  color: #fff;
  font-family: "Lato", sans-serif;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.3s ease 0s;
  transition: border-bottom 0.3s ease 0s;
}
@media screen and (min-width: 1101px) {
  .header__nav__item a.is-active, .header__nav__item a:hover {
    border-bottom-color: #e81919;
  }
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .header__nav__item a.is-active, .header__nav__item a:hover {
    border-bottom-color: #e81919;
  }
}
@media screen and (max-width: 767px) {
  .header__nav__item a {
    color: #707070;
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px;
  }
  .header__nav__item a::after {
    content: "";
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 8px;
    height: 11px;
    background: transparent url(../images/arrow-b@3x.png) center center/contain;
  }
}

.nav-bg {
  position: fixed;
  z-index: 800;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}
.nav-bg.is-open {
  display: block;
}

/*=================================
top
=================================*/
.top {
  position: relative;
  margin-top: 100px;
  width: 100vw;
  height: 600px;
}
@media screen and (max-width: 767px) {
  .top {
    margin-top: 60px;
    height: 420px;
  }
}

.top__content {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.top__content__title {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 32px;
}
@media screen and (max-width: 767px) {
  .top__content__title {
    font-size: 2.5rem;
  }
}

.top__content__subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .top__content__subtitle {
    font-size: 1.125rem;
  }
}

.top__content__button {
  background-color: #3f51b5;
  border: none;
  border-radius: 8px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
  width: 384px;
  height: 72px;
  margin: 0 auto;
}
.top__content__button:hover {
  opacity: 0.8;
}
@media screen and (max-width: 767px) {
  .top__content__button {
    width: 50%;
  }
}
.top__content__button a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  padding: 24px 0;
  line-height: 1;
}

.swiper {
  width: inherit;
  height: inherit;
}
.swiper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*** Swiper pagination ***/
/*** Swiper pagination ***/
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  --swiper-pagination-bottom: 16px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  --swiper-pagination-bullet-horizontal-gap: 8px;
}

.swiper-pagination-bullet {
  --swiper-pagination-bullet-size: 16px;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-inactive-color: #FFFFFF9E;
}

.swiper-pagination-bullet-active {
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-color: #2F7DC8;
}

/*** Swiper button ***/
.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.swiper-button-next::after {
  background-image: url("../images/arrow-next@2x.png");
}

.swiper-button-prev::after {
  background-image: url("../images/arrow-prev@2x.png");
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next,
.swiper-button-next, .swiper-rtl .swiper-button-prev {
  --swiper-navigation-sides-offset: calc(50% - (1200px / 2));
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .swiper-button-prev, .swiper-rtl .swiper-button-next,
  .swiper-button-next, .swiper-rtl .swiper-button-prev {
    --swiper-navigation-sides-offset: 40px;
  }
}
@media screen and (max-width: 767px) {
  .swiper-button-prev, .swiper-rtl .swiper-button-next,
  .swiper-button-next, .swiper-rtl .swiper-button-prev {
    --swiper-navigation-sides-offset: 20px;
  }
}

/*=================================
card
=================================*/
.card.flex {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.card__content {
  width: 32%;
  background-color: #fff;
  padding: 16px;
  padding-bottom: 11px; /* 下余白は、textのline-heightを考慮 */
  border-radius: 4px;
}
.card__content:nth-child(n+4) { /*  4個目以降は上に余白をつける */
  margin-top: 2vw;
}
@media screen and (min-width: 1101px) {
  .card__content:not(:nth-child(3n)) { /* 3の倍数個以外は右余白をつける */
    margin-right: 2%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .card__content {
    width: 49%;
  }
  .card__content:nth-child(n+3) { /*  3個目以降は上に余白をつける */
    margin-top: 2vw;
  }
  .card__content:not(:nth-child(2n)) { /* 2の倍数以外は右余白をつける */
    margin-right: 2%;
  }
}
@media screen and (max-width: 767px) {
  .card__content {
    width: 100%;
    margin-right: 0;
  }
  .card__content:nth-child(n+2) { /*  2個目以降は上に余白をつける */
    margin-top: 2vw;
  }
}

.card__content img {
  width: 100%;
  height: auto;
}

.card__content__title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #6F7579;
  margin: 16px 0 11px; /* 下余白は、textのline-heightを考慮 */
}
@media screen and (max-width: 767px) {
  .card__content__title {
    text-align: center;
  }
}

.card__content__text {
  color: #6F7579;
  line-height: 1.625;
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .card__content__text {
    line-height: 1.4;
  }
}
@media screen and (max-width: 767px) {
  .card__content__text {
    line-height: 1.2;
  }
}

/*=================================
News
=================================*/
.news__content {
  max-width: 800px;
}

.news__list {
  margin-bottom: 60px;
  line-height: 1.3125;
}
@media screen and (max-width: 767px) {
  .news__list {
    padding-bottom: 30px;
  }
}

.news__row {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.news__row:not(:first-of-type) {
  padding-top: 20px;
}
.news__row:not(:last-of-type) {
  padding-bottom: 12px;
  border-bottom: 1px solid #707070;
}

.news__meta {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.news__date {
  width: 105px;
  padding-top: 7px;
  font-family: "Lato", sans-serif;
}

.news__tag {
  background-color: transparent;
  border-radius: 4px;
  margin-right: 20px;
  height: 32px;
}
.news__tag a {
  color: #fff;
  font-weight: bold;
  display: block;
  width: 80px;
  text-align: center;
  line-height: 32px;
}
@media screen and (max-width: 767px) {
  .news__tag a {
    font-size: 0.75rem;
  }
}
.news__tag.news__label-1 {
  background-color: #666666;
}
.news__tag.news__label-2 {
  color: #fff;
  background-color: #3F51B5;
}
.news__tag.news__label-3 {
  color: #fff;
  background-color: #E81919;
}
.news__tag:hover {
  opacity: 0.7;
}

.news__title {
  width: calc(100% - 105px - 100px);
}
.news__title a {
  color: #333;
  display: inline-block;
  padding-top: 6px;
}
.news__title a:hover {
  opacity: 0.7;
}
@media screen and (max-width: 767px) {
  .news__title {
    margin-top: 8px;
    width: 100%;
  }
}

.news__more {
  text-align: center;
}
.news__more a {
  font-weight: bold;
  font-family: "Lato", sans-serif;
  color: #e81919;
  position: relative;
  padding-right: 17px;
}
.news__more a::after {
  content: "";
  display: block;
  width: 7px;
  height: 11px;
  position: absolute;
  right: 0;
  top: 60%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: transparent url(../images/news-arrow@2x.png) no-repeat center center/contain;
}
.news__more a:hover {
  opacity: 0.7;
}

/*=================================
Price
=================================*/
.price__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .price__content {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .price__content {
    display: block;
  }
}

.price__content__image {
  max-width: 454px;
  width: 38%;
  margin-right: 40px;
}
.price__content__image img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .price__content__image {
    width: 100%;
    margin: 0 auto 30px;
  }
}
@media screen and (max-width: 767px) {
  .price__content__image {
    max-width: 100%;
    width: 100%;
    margin: 0 auto 20px;
  }
}

.price__content__info {
  width: calc(62% - 40px);
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .price__content__info {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .price__content__info {
    width: 100%;
  }
}

.price__content__table,
.price__table__header,
.Price__table__row__title,
.Price__table__row__data {
  border: 1px solid #707070;
  border-collapse: collapse;
}

.price__content__table {
  width: 100%;
  height: 100%;
  table-layout: fixed;
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .price__content__table {
    height: 286px;
  }
}
@media screen and (max-width: 767px) {
  .price__content__table {
    height: 200px;
  }
}

.price__table__header:first-of-type {
  width: 24%;
}

.price__table__header,
.Price__table__row__title,
.Price__table__row__data {
  height: 57px;
}

.price__table__header,
.Price__table__row__title {
  background-color: #999999;
  color: #fff;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  text-align: center;
  vertical-align: middle;
}

.Price__table__row__data {
  color: #333;
  font-weight: bold;
  background-color: #FFF;
  padding-right: 25px;
  text-align: right;
  vertical-align: middle;
}
.Price__table__row__data.is-special {
  color: #e81919;
}
.Price__table__row__data.is-special span {
  color: #333;
  font-size: 0.8rem;
  font-weight: bold;
  display: inline-block;
  margin-top: 5px;
}
@media screen and (max-width: 767px) {
  .Price__table__row__data.is-special span {
    font-size: 0.75rem;
  }
}

.price__content__text {
  margin-top: 12px;
  font-size: 0.875rem;
  color: #333;
}
.price__content__text a {
  font-weight: bold;
  color: #333;
  border-bottom: 1px solid #333;
}
.price__content__text a:hover {
  opacity: 0.7;
}

/*=================================
Access
=================================*/
.access__content {
  max-width: 800px;
}

.access__map {
  position: relative;
  width: 100%;
  padding-top: 50%; /* = height ÷ width × 100 */
  margin: 0 auto;
}
.access__map iframe {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.access__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.access__info__head {
  font-weight: bold;
  width: 104px;
}

.access__info__text {
  width: calc(100% - 104px);
}

.access__info__head,
.access__info__text {
  padding-top: 16px;
}

.access__button {
  display: block;
  margin: 30px auto 0;
  background-color: #3f51b5;
  padding: 20px 0;
}
.access__button a {
  display: block;
  color: #fff;
  font-weight: bold;
}

/*=================================
Q & A
=================================*/
.qa__container {
  max-width: 900px;
}

.qa__item {
  margin-top: 24px;
}
.qa__item:first-child {
  margin-top: 0;
}

.qa__question {
  position: relative;
}

.qa__question__button {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  text-align: left;
  padding: 12px 56px;
  background-color: #3f51b5;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
  position: relative;
}
.qa__question__button::before {
  content: "Q";
  position: absolute;
  top: 12px;
  left: 20px;
  font-size: 0.9375rem;
}
.qa__question__button:focus {
  outline: none;
}
.qa__question__button:hover {
  opacity: 0.7;
}

.qa__question__icon {
  display: block;
  width: 14px;
  height: 14px;
  background: transparent url(../images/plus@2x.png) no-repeat center center/contain;
  position: absolute;
  right: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.qa__question__icon.is-open {
  background: transparent url(../images/minus@2x.png) no-repeat center center/contain;
}

.qa__answer {
  background-color: #fff;
  border: 1px solid #3f51b5;
  display: none; /* 初期値は非表示 */
}

.qa__answer__text {
  font-weight: 700;
  color: #3f51b5;
  line-height: 1.5;
  padding: 16px 30px 16px 55px;
  position: relative;
}
.qa__answer__text::before {
  content: "A";
  position: absolute;
  top: 16px;
  left: 20px;
  font-size: 0.9375rem;
}

/*** qa2 ***/
.qa2__content {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}
@media screen and (max-width: 767px) {
  .qa2__content {
    display: block;
    margin-top: 50px;
  }
}

.qa2__item {
  width: calc(50% - 20px);
  max-width: 440px;
}
@media screen and (max-width: 767px) {
  .qa2__item {
    width: 100%;
    margin: 20px auto 0;
  }
  .qa2__item:first-child {
    margin-top: 0;
  }
}

.qa2__question__button {
  font-size: 1.25rem;
  font-weight: bold;
  color: #3f51b5;
  line-height: 1;
  width: 100%;
  padding: 20px 40px;
  background-color: #fff;
  border: 1px solid #3f51b5;
  border-radius: 30px;
  position: relative;
}
.qa2__question__button::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: transparent url(../images/arrow-bottom@2x.png) no-repeat center center/contain;
  position: absolute;
  right: 17px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.qa2__question__button.is-open::after {
  background: transparent url(../images/arrow-top@2x.png) no-repeat center center/contain;
}
.qa2__question__button:focus {
  outline: none;
}
.qa2__question__button:hover {
  opacity: 0.7;
}

.qa2__answer {
  margin-top: 40px;
  display: none; /* 初期値は非表示 */
}

.qa2__answer__text {
  color: #3f51b5;
  line-height: 1.5;
}

/*=================================
Contact
=================================*/
.contact__container {
  max-width: 800px;
  background-color: #FFF;
  padding: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .contact__container {
    padding: 30px 15px;
    width: 80%;
  }
}

.contact__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 32px;
}
@media screen and (max-width: 767px) {
  .contact__text {
    display: block;
    margin-bottom: 20px;
  }
}
.contact__text dt {
  width: 160px;
}
@media screen and (min-width: 1101px) {
  .contact__text dt:nth-child(n+3) {
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .contact__text dt:nth-child(n+3) {
    margin-top: 50px;
  }
}
@media screen and (max-width: 767px) {
  .contact__text dt {
    margin-top: 0;
  }
  .contact__text dt:nth-child(n+2) {
    margin-top: 30px;
  }
}
.contact__text dd {
  width: calc(100% - 160px);
}
@media screen and (min-width: 1101px) {
  .contact__text dd:nth-child(n+3) {
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .contact__text dd:nth-child(n+3) {
    margin-top: 40px;
  }
}
@media screen and (max-width: 767px) {
  .contact__text dd {
    width: 100%;
    margin: 10px 0 30px;
  }
}
.contact__text label {
  display: block;
  width: 100%;
  margin-top: 5px;
  font-weight: bold;
  color: #333;
  line-height: 1.6875;
}
.contact__text label.is-required {
  position: relative;
}
.contact__text label.is-required::after {
  content: "必須";
  display: block;
  width: 44px;
  height: 22px;
  color: #fff;
  background-color: #e81919;
  border-radius: 4px;
  text-align: center;
  line-height: 22px;
  font-size: 0.875rem;
  font-weight: bold;
  position: absolute;
}
@media screen and (min-width: 1101px) {
  .contact__text label.is-required::after {
    top: 30px;
    left: 0;
  }
}
@media screen and (max-width: 767px) {
  .contact__text label.is-required::after {
    top: -3px;
    right: -60px;
  }
}
.contact__text input, .contact__text textarea, .contact__text select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 1px solid #707070;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 0.875rem;
  padding: 0 16px;
  width: 100%;
}
.contact__text input:focus, .contact__text textarea:focus, .contact__text select:focus {
  border: 2px solid #707070;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}
.contact__text input::-webkit-input-placeholder, .contact__text textarea::-webkit-input-placeholder, .contact__text select::-webkit-input-placeholder {
  color: #CCCCCC;
  font-size: 0.875rem;
}
.contact__text input::-moz-placeholder, .contact__text textarea::-moz-placeholder, .contact__text select::-moz-placeholder {
  color: #CCCCCC;
  font-size: 0.875rem;
}
.contact__text input:-ms-input-placeholder, .contact__text textarea:-ms-input-placeholder, .contact__text select:-ms-input-placeholder {
  color: #CCCCCC;
  font-size: 0.875rem;
}
.contact__text input::-ms-input-placeholder, .contact__text textarea::-ms-input-placeholder, .contact__text select::-ms-input-placeholder {
  color: #CCCCCC;
  font-size: 0.875rem;
}
.contact__text input::placeholder, .contact__text textarea::placeholder, .contact__text select::placeholder {
  color: #CCCCCC;
  font-size: 0.875rem;
}
.contact__text input {
  background-image: none;
  height: 38px;
}
.contact__text textarea {
  background-image: none;
  height: 240px;
  padding-top: 12px;
}
.contact__text select {
  background: transparent url(../images/select-arrow@2x.png) no-repeat center right 12px/17px 14px;
  height: 38px;
}
.contact__text select:invalid {
  color: #CCCCCC;
}
.contact__text select option {
  color: #333;
}
.contact__text select option:first-child {
  color: #CCCCCC;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.contact__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 67px;
}
@media screen and (max-width: 767px) {
  .contact__radio {
    margin-bottom: 30px;
  }
}
.contact__radio input + span {
  cursor: pointer;
  display: inline-block;
  padding-left: 28px;
  position: relative;
}
.contact__radio input + span::before {
  background: #fff;
  border: 1px solid #707070;
  border-radius: 50%;
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.contact__radio input + span::after {
  background: #3F51B5;
  border: 1px solid transparent;
  border-radius: 50%;
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.contact__radio input:checked + span::after {
  opacity: 1;
}
.contact__radio input:focus + span::before {
  -webkit-box-shadow: 0 0 0 2px rgba(63, 81, 181, 0.2509803922);
          box-shadow: 0 0 0 2px rgba(63, 81, 181, 0.2509803922);
}
.contact__radio input:disabled + span {
  opacity: 0.5;
}
.contact__radio input:disabled + span::before {
  background-color: #eee;
}
.contact__radio input:disabled + span::after {
  content: none;
}
.contact__radio label {
  color: #333;
  margin-right: 32px;
}
@media screen and (max-width: 767px) {
  .contact__radio label {
    display: inline-block;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.contact__policy-check {
  color: #333;
  text-align: center;
  margin-bottom: 35px;
}
.contact__policy-check input + span {
  cursor: pointer;
  display: inline-block;
  padding-left: 49px;
  position: relative;
}
.contact__policy-check input + span::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #fff;
  border: 1px solid #707070;
  border-radius: 0;
}
.contact__policy-check input + span::after {
  content: "";
  display: block;
  width: 21px;
  height: 16px;
  position: absolute;
  left: 3px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: transparent url(../images/check@2x.png) no-repeat center/contain;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.contact__policy-check input + span > a {
  color: #333;
  font-weight: bold;
  text-decoration: underline;
}
.contact__policy-check input + span > a:hover {
  opacity: 0.7;
}
.contact__policy-check input:checked + span::after {
  opacity: 1;
}
.contact__policy-check input:focus + span::before {
  -webkit-box-shadow: 0 0 0 2px rgba(63, 81, 181, 0.2509803922);
          box-shadow: 0 0 0 2px rgba(63, 81, 181, 0.2509803922);
}
.contact__policy-check input:disabled + span {
  opacity: 0.5;
}
.contact__policy-check input:disabled + span::before {
  background-color: #eee;
}
.contact__policy-check input:disabled + span::after {
  content: none;
}

.contact__policy-check__modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 200;
  display: none;
}

.policy__content {
  background-color: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1607843137);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.1607843137);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  max-width: 900px;
  height: 90%;
  max-height: calc(100% - (100px + 50px));
  padding: 60px;
}
@media screen and (max-width: 767px) {
  .policy__content {
    max-height: calc(100% - (60px + 50px));
  }
}
@media screen and (max-width: 767px) {
  .policy__content {
    padding: 30px;
  }
}

.policy__title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #707070;
  padding-bottom: 24px;
  text-align: center;
  position: relative;
}
.policy__title::after {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  background-color: #3f51b5;
  position: absolute;
  top: 48px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.policy__items {
  margin-top: 40px;
  text-align: left;
  height: calc(100% - 88px - 108px);
  max-height: 336px;
  overflow: scroll;
}

.policy__item:not(:first-child) {
  margin-top: 40px;
}

.policy__item__head {
  font-size: 1.25rem;
  font-weight: bold;
  color: #707070;
  position: relative;
}
.policy__item__head::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background-color: #3f51b5;
  position: absolute;
  left: -16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.policy__item__text {
  color: #707070;
  line-height: 1.5;
  margin-top: 16px;
}

.policy__button {
  margin-top: 60px;
  color: #fff;
  background-color: #3f51b5;
  max-width: 176px;
  height: 48px;
  padding: 0;
}

.policy__close__icon {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}
.policy__close__icon:hover {
  opacity: 0.7;
  cursor: pointer;
}

.btn.contact__button {
  display: block;
  margin: 0 auto;
  background-color: #3f51b5;
  color: #fff;
}

/*=================================
go to top
=================================*/
.goto-top {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 60px;
  height: 60px;
  visibility: hidden; /* 初期値は非表示&クリック不可 */
  opacity: 0; /* 初期値は透明 */
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media screen and (max-width: 767px) {
  .goto-top {
    bottom: 12px;
    right: 12px;
    width: 40px;
    height: 40px;
  }
}
.goto-top.is-visible {
  visibility: visible;
  opacity: 1;
}
.goto-top.is-visible:hover {
  opacity: 0.7;
}

/*=================================
footer
=================================*/
footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#333333));
  background: linear-gradient(#666666, #333333);
  padding-top: 60px;
}

.footer__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 46px;
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .footer__contents {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .footer__contents {
    display: block;
    margin-bottom: 30px;
  }
}

.footer__company {
  width: calc(205px / 1200px * 100%);
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .footer__company {
    width: 100%;
    margin: 0 auto 40px;
  }
}
@media screen and (max-width: 767px) {
  .footer__company {
    width: 100%;
    margin: 0 auto 25px;
  }
}

.footer__company__logo {
  width: 205px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .footer__company__logo {
    margin: 0 auto 32px;
  }
}
@media screen and (max-width: 767px) {
  .footer__company__logo {
    margin: 0 auto 32px;
  }
}

.footer__company__logo img {
  width: 100%;
  height: auto;
}

.footer__company__info {
  color: #fff;
  font-size: 0.875rem;
}

.footer__company__info_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.footer__company__info_row:not(:first-child) {
  margin-top: 14px;
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .footer__company__info_row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .footer__company__info_row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__link {
  width: calc((1200px - 205px * 2) / 1200px * 100%);
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .footer__link {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .footer__link {
    width: 100%;
  }
}

.footer__link__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1101px) {
  .footer__link__item:not(:first-child) {
    margin-left: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .footer__link__item {
    margin: 0 10px 40px;
  }
}
@media screen and (max-width: 767px) {
  .footer__link__item {
    margin: 0 10px 25px;
  }
}
.footer__link__item :hover {
  opacity: 0.7;
}
.footer__link__item a {
  color: #fff;
  font-family: "Lato", sans-serif;
}

.footer__sns {
  width: calc(205px / 1200px * 100%);
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .footer__sns {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .footer__sns {
    width: 100%;
  }
}

.footer__sns__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .footer__sns__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .footer__sns__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__sns__item {
  width: 30px;
  height: 30px;
}
@media screen and (min-width: 1101px) {
  .footer__sns__item:not(:first-child) {
    margin-left: 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .footer__sns__item {
    margin: 0 20px;
  }
}
@media screen and (max-width: 767px) {
  .footer__sns__item {
    margin: 0 10px;
  }
}
.footer__sns__item :hover {
  opacity: 0.7;
}

.footer__copyright {
  color: #fff;
  font-size: 0.875rem;
  font-family: "Lato", sans-serif;
  text-align: center;
  padding-bottom: 24px;
}