@charset "UTF-8";
/*================================================================
Chrome/Firefox/Edgeなど、各ブラウザはそれぞれデフォルトで効くCSSを持っています。
何もしないと見え方が微妙に変わるので、デフォルトのCSSをリセットして
ブラウザごとの表示の差異をなくすために書くのが「リセットCSS」です。
================================================================*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

html {
  font-size: 100%;
}

body {
  color: #333;
  background: #FFF;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom; /* 画面下の隙間を消す */
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 3%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .flex.flex-md {
    display: block;
  }
}

.color-bg-1 {
  background-color: #EFEFEF;
}

.section__inner {
  padding: 100px 0 120px;
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .section__inner {
    padding: 70px 0 90px;
  }
}
@media screen and (max-width: 767px) {
  .section__inner {
    padding: 40px 0 60px;
  }
}

.section__title {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 80px;
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .section__title {
    margin-bottom: 78px;
  }
}
@media screen and (max-width: 767px) {
  .section__title {
    margin-bottom: 48px;
  }
}
.section__title::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background-color: #3f51b5;
  margin: 24px auto 0;
}

/*=================================
header
=================================*/
header {
  background-color: #3f51b5;
  width: 100vw;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1607843137);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1607843137);
}
@media screen and (max-width: 767px) {
  header {
    height: 60px;
  }
}

.header-inner {
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .header-inner {
    height: 60px;
  }
}

.header__logo {
  width: 205px;
}
@media screen and (max-width: 767px) {
  .header__logo {
    margin: auto;
  }
}
.header__logo a {
  display: block;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

.header__nav__item:not(:first-child) {
  margin-left: 40px;
}
.header__nav__item a {
  padding-bottom: 8px;
  color: #fff;
  text-decoration: none;
}
.header__nav__item a:hover {
  border-bottom: 2px solid #e81919;
}

/*=================================
top
=================================*/
.top {
  position: relative;
  margin-top: 100px;
}
@media screen and (max-width: 767px) {
  .top {
    margin-top: 60px;
  }
}
.top img {
  width: 100vw;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 767px) {
  .top img {
    height: 420px;
  }
}

.top__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.top__content__title {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 32px;
}
@media screen and (max-width: 767px) {
  .top__content__title {
    font-size: 2.5rem;
  }
}

.top__content__subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .top__content__subtitle {
    font-size: 1.125rem;
  }
}

.top__content__button {
  background-color: #3f51b5;
  border: none;
  border-radius: 8px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
  width: 384px;
  height: 72px;
}
.top__content__button:hover {
  opacity: 0.8;
}
@media screen and (max-width: 767px) {
  .top__content__button {
    width: 50%;
  }
}
.top__content__button a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  padding: 24px 0;
  line-height: 1;
}

/*=================================
card
=================================*/
.card.flex {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.card__content {
  width: 32%;
  background-color: #fff;
  padding: 16px;
  padding-bottom: 11px; /* 下余白は、textのline-heightを考慮 */
  border-radius: 4px;
}
.card__content:nth-child(n+4) { /*  4個目以降は上に余白をつける */
  margin-top: 2vw;
}
@media screen and (min-width: 1101px) {
  .card__content:not(:nth-child(3n)) { /* 3の倍数個以外は右余白をつける */
    margin-right: 2%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .card__content {
    width: 49%;
  }
  .card__content:nth-child(n+3) { /*  3個目以降は上に余白をつける */
    margin-top: 2vw;
  }
  .card__content:not(:nth-child(2n)) { /* 2の倍数以外は右余白をつける */
    margin-right: 2%;
  }
}
@media screen and (max-width: 767px) {
  .card__content {
    width: 100%;
    margin-right: 0;
  }
  .card__content:nth-child(n+2) { /*  2個目以降は上に余白をつける */
    margin-top: 2vw;
  }
}

.card__content img {
  width: 100%;
  height: auto;
}

.card__content__title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #6F7579;
  margin: 16px 0 11px; /* 下余白は、textのline-heightを考慮 */
}
@media screen and (max-width: 767px) {
  .card__content__title {
    text-align: center;
  }
}

.card__content__text {
  color: #6F7579;
  line-height: 1.625;
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .card__content__text {
    line-height: 1.4;
  }
}
@media screen and (max-width: 767px) {
  .card__content__text {
    line-height: 1.2;
  }
}

/*=================================
News
=================================*/
.news__content {
  max-width: 800px;
}

.news__list {
  margin-bottom: 60px;
  line-height: 1.3125;
}
@media screen and (max-width: 767px) {
  .news__list {
    padding-bottom: 30px;
  }
}

.news__row {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.news__row:not(:first-of-type) {
  padding-top: 20px;
}
.news__row:not(:last-of-type) {
  padding-bottom: 12px;
  border-bottom: 1px solid #707070;
}

.news__meta {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.news__date {
  width: 105px;
  padding-top: 7px;
}

.news__tag {
  background-color: transparent;
  border-radius: 4px;
  margin-right: 20px;
  height: 32px;
}
.news__tag a {
  color: #fff;
  font-weight: bold;
  display: block;
  width: 80px;
  padding: 6px 0;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .news__tag a {
    font-size: 0.75rem;
    padding: 4px 0;
  }
}
.news__tag.news__label-1 {
  background-color: #666666;
}
.news__tag.news__label-2 {
  color: #fff;
  background-color: #3F51B5;
}
.news__tag.news__label-3 {
  color: #fff;
  background-color: #E81919;
}
.news__tag:hover {
  opacity: 0.7;
}

.news__title {
  width: calc(100% - 105px - 100px);
}
.news__title a {
  color: #333;
  display: inline-block;
  padding-top: 6px;
}
.news__title a:hover {
  opacity: 0.7;
}
@media screen and (max-width: 767px) {
  .news__title {
    margin-top: 8px;
    width: 100%;
  }
}

.news__more {
  text-align: center;
}
.news__more a {
  font-weight: bold;
  color: #e81919;
  position: relative;
  padding-right: 17px;
}
.news__more a::after {
  content: "";
  display: block;
  width: 7px;
  height: 11px;
  position: absolute;
  right: 0;
  top: 60%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: transparent url(../images/news-arrow@2x.png) no-repeat center center/contain;
}
.news__more a:hover {
  opacity: 0.7;
}

/*=================================
More
=================================*/
.more__list {
  margin-bottom: 80px;
}
@media screen and (max-width: 767px) {
  .more__list {
    margin-bottom: 40px;
  }
}

.more__row {
  border-bottom: 1px solid #707070;
  padding-bottom: 13px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.more__row:not(:first-of-type) {
  padding-top: 20px;
}
@media screen and (max-width: 767px) {
  .more__row {
    display: block;
  }
}

.more__date {
  width: 105px;
  padding-top: 6px;
}

.more__title {
  width: calc(100% - 105px - 108px);
  padding-top: 6px;
  line-height: 1.1764705882;
}
@media screen and (max-width: 767px) {
  .more__title {
    width: 100%;
    margin-top: 5px;
  }
}

.more__button {
  background: #3f51b5;
  border: none;
  padding: 0;
  margin-left: 20px;
}
.more__button:hover {
  opacity: 0.7;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
@media screen and (max-width: 767px) {
  .more__button {
    display: block;
    margin: 10px auto 0;
  }
}
.more__button a {
  display: block;
  width: 88px;
  height: 32px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 6px 0 10px;
}
@media screen and (max-width: 767px) {
  .more__button a {
    height: 28px;
    font-size: 0.875rem;
    padding: 6px 0;
  }
}

.more__index {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.more_page a {
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  color: #707070;
  text-align: center;
  border: 1px solid #3f51b5;
  background-color: #FFF;
}
.more_page a:hover {
  color: #fff;
  background-color: #3f51b5;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.more_page.is-active a {
  color: #fff;
  background-color: #3f51b5;
  pointer-events: none;
}
@media screen and (max-width: 767px) {
  .more_page {
    width: 30px;
    height: 30px;
    padding: 6px 0;
  }
}

/*=================================
Widget
=================================*/
.widget__items {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}
@media screen and (max-width: 767px) {
  .widget__items {
    display: block;
  }
}

.widget__item {
  max-width: 575px;
  border: 1px solid #3f51b5;
  border-radius: 4px;
  background-color: #fff;
}
@media screen and (max-width: 767px) {
  .widget__item {
    margin: 0 auto 20px;
  }
}

.widget__item__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 12px 12px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.widget__item__header.is-news {
  background-color: #3f51b5;
}
.widget__item__header.is-blog {
  background-color: #B53F6E;
}

.widget__item__title {
  color: #fff;
  font-size: 1.25rem;
  font-weight: bold;
}

.widget__item__more {
  padding: 0;
  border: none;
  border-radius: 2px;
  background-color: #FFF;
}
.widget__item__more a {
  display: block;
  width: 101px;
  height: 36px;
  font-size: 1rem;
  color: #333;
  text-align: center;
  padding: 10px 0;
}

.widget__item dl:last-child {
  margin-bottom: 19px;
}

.widget__item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 20px;
  padding-bottom: 18px;
  border-bottom: 1px solid #707070;
}

.widget__item__link {
  width: 100%;
  height: 100%;
}
.widget__item__link :hover {
  background-color: #f0f0f0;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.widget__item__meta {
  width: 110px;
  margin-top: 20px;
}

.widget__item__date {
  color: #333;
}

.widget__item__label {
  margin-top: 4px;
  width: 52px;
  height: 22px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  background-color: #FEBB07;
  border-radius: 2px;
  padding: 4px 0;
  visibility: hidden;
}
.widget__item__label.is-active {
  visibility: visible;
}

.widget__item__summary {
  width: calc(100% - 102px);
  color: #333;
  line-height: 1.5;
  margin-top: 15px;
}