@use "reset";
@use "config" as *;
@use "mixin" as *;
@use "base";

/*===============================
共通クラス
===============================*/
.inner{
	width: 100%;
	max-width: calc(1140px + 150px * 2);
	padding: 0 clamp(30px, -107.136px + 17.86vw, 150px);
	margin: 0 auto;
	@include mq(sp){
		padding: 0 15px;
	}
}

%btn__a{
	width: auto;
	height: 47px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0 28px;
	border: 2px solid transparent;
	border-radius: 60px;
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: 0.03em;
}

.btn--light a{
	@extend %btn__a;
	color: $color-main;
	border-color: $color-main;
	background-color: $color-light;
	transition: background-color 0.3s ease 0s;
	@include mq-hover(hp){
		&:hover{
			background-color: $color-Key-pale;
		}
	}
	@include mq-hover(hi){
		&:active{
			background-color: $color-Key-pale;
		}
	}
}

.btn--dark a{
	@extend %btn__a;
	color: $color-light;
	border-color: $color-light;
	background-color: $color-main;
}

/*===============================
header
===============================*/
.header{
	width: 100%;
	height: $size-header-height-pc;
	@include mq(sp){
		height: $size-header-height-sp;
	}
	background-color: rgba(255, 255, 255, 0.95);
	position: fixed;
	top: 0;
	left: 0;
	z-index: map-get($layer, header);
}

.header__inner{
	height: inherit;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__logo{
	width: 135px;
	height: auto;
	flex-shrink: 0;
	@include mq(sp){
		width: 100px;
		z-index: 10;
	}
}

.header__logo__link{
	width: 100%;
	img{
		width: 100%;
		display: block;
	}
}

.header__hamburger{
	@include mq(sp){
		width: 36px;
		height: 44px;	// タップ範囲44px固定
		position: relative;
		z-index: 30;
		cursor: pointer;
	}
}

.hamburger__icon{
	width: 100%;
	height: 22px;	//実際のhamburgerボタンの高さ
	position: relative;
}

.hamburger__icon__bar{
	display: inline-block;
	width: 100%;
	height: 3px;
	background-color: $color-main;
	border-radius: 6px;
	position: absolute;
	left: 0;
}

.hamburger__icon__bar:nth-child(1){
	top: 0;
	transition: all 0.3s ease 0s;
	.is-open &{
		top: 50%;
		transform: rotate(-30deg) translateY(-50%);
	}
}

.hamburger__icon__bar:nth-child(2){
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.1s ease 0s;
	.is-open &{
		height: 0;
		opacity: 0;
	}
}

.hamburger__icon__bar:nth-child(3){
	bottom: 0;
	transition: all 0.3s ease 0s;
	.is-open &{
		transform: rotate(30deg) translateY(50%);
		bottom: 50%;
	}
}

.header__nav{
	@include mq(sp){
		width: 320px;
		max-width: 86vw;
		height: 100vh;
		background-color: #F7BA1A;
		position: absolute;
		top: 0;
		right:calc(-320px - 2px);
		z-index: 20;
		transition: right 1s ease 0s;
		&.is-open{
			right: 0;
		}
	}
}

.header__nav__list{
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 40px;
	@include mq(sp){
		display: block;
		margin: 100px 40px 0 0;
		text-align: right;
	}
}

.menu-item{
	@include mq(sp){
		&:not(:first-child){
			margin-top: 28px;
		}
	}
}

.menu-item:not(.btn--light) a{
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: 0.03em;
	padding: 10px 0;
	@include mq-hover(hp){
		transition: color 0.3s ease 0s;
		&:hover{
			color: $color-Key-deep;
		}
	}
	@include mq-hover(hi){
		&:active{
			color: $color-Key-deep;
		}
	}
}

/*===============================
FV
===============================*/
.fv{
	margin-top: $size-header-height-pc;
	@include mq(sp){
		margin-top: $size-header-height-sp;
	}
}

.fv__inner{
	max-width: 1440px;
	padding: 0 30px;
}

.fv__content{
	width: 100%;
	min-height: 500px;
	padding-top: clamp(45px, -0.402rem + 6.7vw, 90px);
	display: flex;
	justify-content: center;
	position: relative;
	top: 0;
	left: 0;
	z-index: map-get($layer, contents);
	@include mq(sp){
		display: block;
		text-align: center;
		padding-top: 50px;
	}
	&::before{
		content: "";
		display: block;
		width: 100%;
		height: 86.8%;
		background: linear-gradient(to bottom, $color-gradation-1, $color-gradation-2);
		border-radius: 30px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;	//最背面
		@include mq(sp){
			height: 84.7458%;
			border-radius: 20px;
		}
	}
}

.fv__content__text{
	width: 40%;
	max-width: 440px;
	margin-top: 20px;
	@include mq(sp){
		margin-top: 0;
		width: 100%;
		max-width: 100%;
	}
}

.fv__content__text__title{
	display: inline-block;
	background-color: $color-light;
	padding: 12px 15px;
	font-size: clamp(1.5rem, 0.5rem + 2.08vw, 2.375rem);
	font-weight: 700;
	line-height: 1;
	letter-spacing: 0.1em;
	font-feature-settings: "palt" on;
	border-radius: 5px;
	&:not(:first-child){
		margin-top: 14px;
	}
	@include mq(sp){
		display: inline-block;
		font-size: 1.375rem;
		padding: 10px 9px;

		&:not(:first-child){
			margin-top: 8px;
		}
		}
}

.fv__content__text__lead{
	margin-top: 21px;
	font-size: clamp(1rem, 0.857rem + 0.3vw, 1.125rem);
	font-weight: 700;
	line-height: 1.7;
	letter-spacing: 0.03em;
	@include mq(sp){
		margin-top: 26px;
		font-size: 1rem;
	}
}

.fv__content__btn{
	margin-top: 30px;
	width: 208px;
	min-width: 100%;
	@include mq(sp){
		margin-top: 21px;
	}
}

.fv__content__img{
	width: 43.4783%;
	@include mq(sp){
		width: 100%;
		max-width: 450px;
		margin-top: 30px;
		margin-right: auto;
		margin-left: auto;
	}
	img{
		width: 100%;
	}
}