@use "reset";
@use "config" as *;
@use "mixin" as *;
@use "base";

/*===============================
共通クラス
===============================*/
.inner{
	width: 100%;
	max-width: calc(1140px + 30px * 2);
	padding: 0 30px;
	margin: 0 auto;
	@include mq(sp){
		padding: 0 15px;
	}
}

%btn__a{
	width: auto;
	min-width: 150px;
	height: 47px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0 28px;
	border: 2px solid transparent;
	border-radius: 60px;
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: 0.03em;
	cursor: pointer;
}

.btn--light a,.btn--light button{
	@extend %btn__a;
	color: $color-main;
	border-color: $color-main;
	background-color: $color-light;
	transition: background-color 0.3s ease 0s;
	@include mq-hover(hp){
		&:hover{
			background-color: $color-Key-pale;
		}
	}
	@include mq-hover(hi){
		&:active{
			background-color: $color-Key-pale;
		}
	}
}

.btn--dark a,.btn--dark button{
	@extend %btn__a;
	color: $color-light;
	border-color: $color-light;
	background-color: $color-main;
}

.section__title{
	font-family: $font-family-en;
	font-size: clamp(2.375rem, 1.942rem + 1.85vw, 3.125rem);//375px~1024px
	font-weight: 700;
	line-height: 1;
	letter-spacing: 0.1em;
	text-align: center;
}
.section__subtitle{
	margin-top: 14px;
	font-family: $font-family-en;
	font-size: clamp(0.875rem, 0.803rem + 0.31vw, 1rem);//375px~1024px
	line-height: 1;
	letter-spacing: 0.08em;
	text-align: center;
}

.oha-bg{
	background: transparent url("../img/bg_section.jpg") repeat top left / auto;
}

/*===============================
header
===============================*/
.header{
	width: 100%;
	height: $size-header-height-pc;
	@include mq(sp){
		height: $size-header-height-sp;
	}
	background-color: rgba(250, 250, 250, 0.95);
	position: fixed;
	top: 0;
	left: 0;
	z-index: map-get($layer, header);
}

.header__inner{
	height: inherit;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__logo{
	width: 135px;
	height: auto;
	flex-shrink: 0;
	@include mq(sp){
		width: 100px;
		z-index: 10;
	}
}

.header__logo__link{
	width: 100%;
	img{
		width: 100%;
		display: block;
	}
}

.header__hamburger{
	@include mq(sp){
		width: 36px;
		height: 44px;	// タップ範囲44px固定
		position: relative;
		z-index: 30;
		cursor: pointer;
	}
}

.hamburger__icon{
	width: 100%;
	height: 22px;	//実際のhamburgerボタンの高さ
	position: relative;
}

.hamburger__icon__bar{
	display: inline-block;
	width: 100%;
	height: 3px;
	background-color: $color-main;
	border-radius: 6px;
	position: absolute;
	left: 0;
}

.hamburger__icon__bar:nth-child(1){
	top: 0;
	transition: all 0.3s ease 0s;
	.is-open &{
		top: 50%;
		transform: rotate(-30deg) translateY(-50%);
	}
}

.hamburger__icon__bar:nth-child(2){
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.1s ease 0s;
	.is-open &{
		height: 0;
		opacity: 0;
	}
}

.hamburger__icon__bar:nth-child(3){
	bottom: 0;
	transition: all 0.3s ease 0s;
	.is-open &{
		transform: rotate(30deg) translateY(50%);
		bottom: 50%;
	}
}

.header__nav{
	@include mq(sp){
		width: 320px;
		max-width: 86vw;
		height: 100vh;
		background-color: #F7BA1A;
		position: absolute;
		top: 0;
		right:calc(-320px - 2px);
		z-index: 20;
		transition: right 1s ease 0s;
		&.is-open{
			right: 0;
		}
	}
}

.header__nav__list{
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 40px;
	@include mq(sp){
		display: block;
		margin: 100px 40px 0 0;
		text-align: right;
	}
}

.menu-item{
	@include mq(sp){
		&:not(:first-child){
			margin-top: 28px;
		}
	}
}

.menu-item:not(.btn--light) a{
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: 0.03em;
	padding: 10px 0;
	@include mq-hover(hp){
		transition: color 0.3s ease 0s;
		&:hover{
			color: $color-Key-deep;
		}
	}
	@include mq-hover(hi){
		&:active{
			color: $color-Key-deep;
		}
	}
}

/*===============================
FV
===============================*/
.fv{
	margin-top: $size-header-height-pc;
	@include mq(sp){
		margin-top: $size-header-height-sp;
	}
}

.fv__inner{
	max-width: calc(1380px + 30px * 2);
}

.fv__content{
	width: 100%;
	min-height: 500px;
	padding-top: clamp(45px, -0.402rem + 6.7vw, 90px);
	display: flex;
	justify-content: center;
	position: relative;
	top: 0;
	left: 0;
	z-index: map-get($layer, contents);
	@include mq(sp){
		display: block;
		text-align: center;
		padding-top: 50px;
	}
	&::before{
		content: "";
		display: block;
		width: 100%;
		height: 86.8%;
		background: linear-gradient(to bottom, $color-gradation-1, $color-gradation-2);
		border-radius: 30px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;	//最背面
		@include mq(sp){
			height: 84.7458%;
			border-radius: 20px;
		}
	}
}

.fv__content__text{
	width: 40%;
	max-width: 440px;
	margin-top: 20px;
	@include mq(sp){
		margin-top: 0;
		width: 100%;
		max-width: 100%;
	}
}

.fv__content__text__title{
	display: inline-block;
	background-color: $color-light;
	padding: 12px 15px;
	font-size: clamp(1.5rem, 0.5rem + 2.08vw, 2.375rem);
	font-weight: 700;
	line-height: 1;
	letter-spacing: 0.1em;
	font-feature-settings: "palt" on;
	border-radius: 5px;
	&:not(:first-child){
		margin-top: 14px;
	}
	@include mq(sp){
		display: inline-block;
		font-size: 1.375rem;
		padding: 10px 9px;

		&:not(:first-child){
			margin-top: 8px;
		}
	}
}

.fv__content__text__lead{
	margin-top: 21px;
	font-size: clamp(1rem, 0.857rem + 0.3vw, 1.125rem);
	font-weight: 700;
	line-height: 1.7;
	letter-spacing: 0.03em;
	@include mq(sp){
		margin-top: 26px;
		font-size: 1rem;
	}
}

.fv__content__btn{
	margin-top: 30px;
	width: 208px;
	min-width: 100%;
	@include mq(sp){
		margin-top: 21px;
	}
}

.fv__content__img{
	width: 43.4783%;
	@include mq(sp){
		width: 100%;
		max-width: 450px;
		margin-top: 30px;
		margin-right: auto;
		margin-left: auto;
	}
	img{
		width: 100%;
	}
}

/*===============================
result
===============================*/
.result{
	padding: 62px 0 50px;
	@include mq(sp){
		padding: 55px 0 60px;
	}
}

.result__title{
	text-align: center;
	color: $color-main;
	font-size: 1.25rem;
	font-weight: 700;
	letter-spacing: 0.1em;
	@include mq(sp){
		font-size: 1.125rem;
	}
}

.result__list{
	margin-top: 47px;
	display: grid;
	grid-template-columns: repeat(auto-fit, 200px);
	justify-content: center;
	column-gap: 40px;
	row-gap: 26px;
	@include mq(sp){
		max-width: 295px;// 140px * 2 + 15px(gap)
		margin: 24px auto 0;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 15px;
		row-gap: 22px;
	}
}

.result__item{
}

/*===============================
News
===============================*/
.news{
	margin-top: 50px;
	padding-bottom: 50px;
	@include mq(sp){
		margin-top: 61px;
		padding-bottom: 61px;
	}
}

.news__content{
	padding: 40px clamp(30px, -3.482rem + 11.16vw, 105px) 34px;	//768px~1440px
	background-color: $color-light;
	border-radius: 30px;
	@include mq(sp){
		padding: 40px clamp(12px, -0.323rem + 4.58vw, 30px);	//375px~768px
		border-radius: 20px;
	}
}

.news__content__title{
	text-align: left;
	@include mq(sp){
		text-align: center;
	}
}

.news__list{
	margin-top: 30px;
	@include mq(sp){
		margin-top: 28px;
	}
}

.news__item{
	&:not(:first-child){
		border-top: 1px solid #E3E3E3;
	}	
}

.news__item__link{
	display: block;
	width: 100%;
	height: 100%;
	padding: 12px 0 11px;
	display: flex;
	align-items: center;
	gap: 28px;
	@include mq-hover(hp){
		transition: background-color 0.3s ease 0s;
		&:hover{
			background-color: #FABE0020;

		}
	}
	@include mq-hover(hi){
		&:active{
			background-color: #FABE0020;
		}
	}
	@include mq(sp){
		padding: 9px 0;
		flex-direction: column;
		gap: 8px;
		align-items: start;
	}
}

.news__item__meta{
	width: 219px;
	max-width: 100%;
	flex-shrink: 0;
	display: flex;
	align-items: center;
}

.news__item__meta__date{
	width: 133px;
	max-width: 100%;
	font-size: 1rem;
	color: #333;
	font-weight: 400;
	@include mq(sp){
		width: fit-content;
		padding-right: 12px;
	}
}

%news__item__meta__category{
	font-size: 0.6875rem;
	color: $color-light;
	font-weight: 700;
	background-color: $color-main;	//ダミー
	border-radius: 2px;
	padding: 2px 10px;
	min-width: 64px;
	text-align: center;
}

.news__item__meta__category--notice{
	@extend %news__item__meta__category;
	background-color: #E4780C;
}

.news__item__meta__category--column{
	@extend %news__item__meta__category;
	background-color: #ECB815;
}

.news__item__meta__category--event{
	@extend %news__item__meta__category;
	background-color: #389B47;
}

.news__item__text{
	flex-shrink: 1;
	font-size: 1rem;
	font-weight: 400;
}

.news__content__more{
	margin-top: 20px;
	display: block;
	width: fit-content;
	max-width: 100%;
	margin-left: auto;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1;
	padding-bottom: 8px;
	border-bottom: 2px solid #111;
	@include mq-hover(hp){
		transition: all 0.3s ease 0s;
		&:hover{
			color: #FABE00;
			border-bottom: 2px solid #FABE00;
		}
	}
	@include mq-hover(hi){
		&:active{
			color: #FABE00;
			border-bottom: 2px solid #FABE00;
		}
	}
	@include mq(sp){
		margin-top: 23px;
	}
}

/*===============================
concept
===============================*/
.concept{
	margin-top: 50px;
	padding-bottom: 200px;
	overflow: hidden;
	@include mq(sp){
		margin-top: 61px;
		padding-bottom: 165px;
	}
}


.concept__logo{
	width: 230px;
	max-width: 100%;
	margin: 0 auto;
	@include mq(sp){
		width: 180px;
	}
	img{
		width: 100%;
		display: block;
	}
}

.concept__content{
	margin: 176px auto 0;
	width: 100%;
	max-width: 100vw;
	padding: 284px 55px 0;
	position: relative;
	@include mq(sp){
		margin: 150px auto 0;
		padding: 288px 15px 0;
	}
	&::before{
		content: "";
		display: block;
		width: 800px;
		aspect-ratio: 1/1;
		background: linear-gradient(to bottom, $color-gradation-1, $color-gradation-2);
		border-radius: 50%;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: -1;	//最背面
		@include mq(sp){
			width: 1100px;
		}
	}
}

.concept__concent__img{
	width: 330px;
	max-width: 100%;
	position: absolute;
	top: -126px;
	left: 50%;
	transform: translateX(-50%);
	@include mq(sp){
		width: 320px;
		top: -111px;
	}

}

.concept__content__text{
	text-align: center;
	font-weight: 700;
	line-height: 2.3;
	white-space: nowrap;
}

.concept__content__lead{
	margin-top: 39px;
	text-align: center;
	font-weight: 700;
	letter-spacing: 0.08em;
	@include mq(sp){
		margin-top: 37px;
	}
}

.concept__content__btn{
	margin-top: 9px;
	text-align: center;
	@include mq(sp){
		margin-top: 6px;
	}
}

/*** modal ***/
.concept__modal{
	position: fixed;
	background-color: rgba(0, 0, 0, 0.2);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: map-get($layer, modal);
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: calc($size-header-height-pc + 134px);
	padding-bottom: 150px;
	display: none;
	@include mq(sp){
		padding-top: calc($size-header-height-sp + 20px);
		padding-bottom: 69px;	
	}
}

.concept__modal__content{
	background-color: $color-light;
	padding: 49px 70px 75px;
	border-radius: 20px;
	max-height: calc(100vh - $size-header-height-pc - 134px - 150px);
	height: 100%;
	overflow-y: scroll;
	@include mq(sp){
		padding: 16px 15px 64px;
		max-height: calc(100vh - $size-header-height-sp - 20px - 69px);
	}
}

.modal__icon__area{
	text-align: right;
}

.modal__icon{
	width: 37px;
	aspect-ratio: 1/1;
	background-color: #F7C346;
	border-radius: 50%;
	vertical-align: middle;
	cursor: pointer;
	position: relative;
	&::before, &::after{
		content: "";
		display: block;
		width: 20px;
		height: 4px;
		background-color: $color-light;
		border-radius: 8px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	&::before{
		transform: translate(-50%, -50%) rotate(45deg);
	}
	&::after{
		transform: translate(-50%, -50%) rotate(-45deg);
	}
	@include mq-hover(hp){
		transition: all 0.3s ease 0s;
		&:hover{
			opacity: 0.7;
		}
	}
	@include mq-hover(hi){
		&:active{
			opacity: 0.7;
		}
	}
}

.modal__text__area{
	margin-top: 43px;
	@include mq(sp){
		margin-top: 13px;
	}
}
.modal__text{
	&:not(:first-child){
		margin-top: 20px;
		@include mq(sp){
			margin-top: 23px;
		}
	}
	@include mq(sp){
		font-size: 0.875rem;
	}
}

.modal__btn{
	margin-top: 30px;
	text-align: center;
}

/*===============================
MOVIE
===============================*/
.movie{
	padding: 100px 0;
	@include mq(sp){
		padding: 60px 0;
	}
}

.movie__content{
	margin-top: 56px;
	@include mq(sp){
		margin-top: 32px;
	}
}

.movie__content__item{
	width: 100%;
	max-width: 640px;
	margin: 0 auto;;
	aspect-ratio: 640 / 360;
	iframe{
		width: 100%;
		height: 100%;
		display: block;
	}
}

/*===============================
usage
===============================*/
.usage{
	padding: 100px 0;
	@include mq(sp){
		padding: 60px 0;
	}
}

.usage__content{
	margin-top: 89px;
	@include mq(sp){
		margin-top: 104px;
	}
}

.usage__person{
	text-align: center;
}

.usage__person__item{
	padding: 44px clamp(1.875rem, -2.839rem + 9.82vw, 6rem) 56px;	//768px~1440px
	border-radius: 40px;
	background: #FFFBF0;
	&:not(:first-child){
		margin-top: 75px;
		@include mq(sp){
			margin-top: 112px;
		}
	}
	@include mq(sp){
		padding: 0px 40px 48px;

	}
}

.usage__person__title{
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
	@include mq(sp){
		flex-direction: column;
		gap: 16px;
	}
}

.usage__person__title--reverse{
	@extend .usage__person__title;
	flex-direction: row-reverse;
}

.usage__person__title__img{
	width: 85px;
	height: 37px;
	display: flex;
	align-items: end;

	img{
		width: 100%;
		height: auto;
	}
}
.usage__person__title__text{
	font-size: 1.375rem;
	font-weight: 700;
	letter-spacing: 0.1em;
	@include mq(sp){
		font-size: 1.125rem;
	}
}

.usage__step{
	margin-top: 85px;
	display: flex;
	gap: 24px;
	justify-content: space-between;
	counter-reset: step-number 0;
	@include mq(sp){
		margin-top: 65px;
		flex-direction: column;
		gap: 65px;
	}
}

.usage__step__item{
	position: relative;
	counter-increment: step-number 1;
	width: 100%;
	max-width: 300px;
	border-radius: 30px;
	border: 3px solid $color-main;
	background: $color-light;
	padding: 47px 0 22px;
	@include mq(sp){
		margin: 0 auto;
	}
}

.usage__step__circle{
	width: 90px;
	height: 90px;
	border-radius: 50%;
	border: 3px solid $color-main;
	background: #F5810E;
	padding: 18px 0;
	text-align: center;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -54%);
	.usage__step--person2 &{
		background: #FABE00;
	}
}

.usage__step__circle__text{
	font-family: $font-family-en;
	font-size: 0.8125rem;
	font-weight: 700;
	line-height: 1;
	letter-spacing: 0.1em;
	display: block;
	&::after{
		content: counter(step-number,decimal-leading-zero);
		display: block;
		color: $color-light;
		font-family: $font-family-en;
		font-size: 2.125rem;
		font-weight: 700;
		line-height: 1;
		letter-spacing: 0.1em;
		margin-top: 3px;
	}
}


.usage__step__item__img{
	padding: 0 47px;
	@include mq(sp){
		padding: 0 49px;
	}
}

.usage__step__item__text{
	margin-top: 10px;
	font-family: Noto Sans JP;
	font-weight: 700;
	letter-spacing: 0.03em;
}