@use "_reset.scss" as reset;
@use "_config.scss" as *;

html {
	font-size: 100%;
}

body {
  color: $color-font-main;
  background: #FFF;
  font-family: $font-family;
}

img {
	max-width: 100%;
  height: auto;
  vertical-align: top;  /* img下の隙間を消す */
}

/*===============================
共通クラス
===============================*/
@include mq(sp){
	.is-pc{
    display: none;
  }
}

@include mq(pc){
	.is-sp{
    display: none;
  }
}

.inner{
  width: 100%;
  max-width: calc(#{$size-width-contents-max} + 40px *2);
  padding: 0 40px;
  margin: 0 auto;
}

.section-mt{
  margin-top: 160px;
}
.section__title{
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 16px;
  position: relative;
  &::after{
    content: "";
    display: block;
    width: 60px;
    height: 1px;
    background-color: $color-main;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.section__footer{
  margin-top: 48px;
}

.btn{
  display: inline-block;
  width: 157px;
  height: 46px;
  line-height: 46px;
  appearance: none;
  border: 1px solid $color-main;
  background-color: $color-bg-main;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
  color: $color-main;
  transition: all 0.3s ease 0s;
  &:hover{
    color: $color-font-sub;
    background-color: $color-main;
  }
}

.more__btn__link{
  display: block;
  margin: 0 auto;

  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 0.1em;
}

/*===============================
header
===============================*/
.header{
  width: 100%;
  height: $size-height-header-pc;
  background-color: $color-bg-main;
  position: fixed;
  top: 0;
  left: 0;
  z-index: map-get($layer, header);
  display: flex;
}

.header__contents{
  display: flex;
  align-items: center;
}
.site-title{
  
}

.site-logo-link{
  display: block;
  width: 100%;
  height: 100%;
  img{
    width: 120px;
    height: auto;
  }
}

.header__nav{
  margin-left: auto;
}

.header__nav__list{
  display: flex;
}

.header__nav__item{
  &:not(:first-child){
    margin-left: 48px;
  }
}

.header__nav__link{
  display: block;
  height: $size-height-header-pc; //リンク範囲を広げる
  padding: 27px 0;
  text-decoration: none;
  color: $color-font-main;
  letter-spacing: 0.1em;
  transition: color 0.2s ease 0s;
  &:hover{
    color: $color-main;
  }
}

/*===============================
top
===============================*/
.top{
  margin-top: $size-height-header-pc;
}

.top__contents{
  position: relative;
}

.top__image{
  display: block;
  width: 100%;
  height: 0;
  padding-top: calc(660px / 1200px * 100%);
  background: transparent url(../images/top.png) no-repeat right  / 82.5%;
}

.top__text{
  background-color: $color-bg-main;
  padding: 83px 44px 88px 0;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.top__text__main{
  font-size: 1.625rem;
  font-weight: bold;
  line-height: calc(44 / 26);
}

.top__text__sub{
  margin-top: 14px;
  line-height: calc(27 / 16);
}

/*===============================
Concept
===============================*/
.concept{

}

.concept__contents{
  margin-top: 64px;
  display: flex;
  align-items: center;
}

.concept__image{
  flex: 0 0 50%;
  img{
    width: 100%;
  }
}

.concept__text{
  flex: 0 1 50%;
  padding-left: 80px;
}

.contact__text__main{
  font-size: 1.25rem;
  font-weight: bold;
  line-height: calc(34 / 20);
}

.contact__text__sub{
  margin-top: 36px;
  line-height: cacl(27 / 16);
}

/*===============================
Feature
===============================*/
.feature{

}

.feature__list{
  margin-top: 64px;
  display: flex;
}

.feature__item{
  flex: 0 1 calc($size-width-card-max / $size-width-contents-max * 100%);
  box-shadow: 3px 3px 15px $color-shadow-feature;
  &:not(:first-child){
    margin-left: calc(($size-width-contents-max - $size-width-card-max * 3) / 2 / $size-width-contents-max * 100%);
  }
}

.feature__item__link{
  display: block;
  width: 100%;
  text-decoration: none;

  &:hover{
    .feature__item__image{
      img{
        transform: scale(1.05, 1.05);
      }
    }

  }
}

.feature__item__image{
  width: 100%;
  overflow: hidden;
  img{
    width: 100%;
    transition: transform 0.3s ease 0s;
  }
}

.feature__item__text{
  background-color: $color-bg-main;
  padding: 26.5px 0;
}

.feature__item__text__main{
  font-weight: bold;
  color: $color-font-main;
  line-height: calc(27 / 16);
  text-align: center;
}

/*===============================
About
===============================*/
.about{
  background: transparent url(../images/bg.png) no-repeat center center / cover;
  width: 100%;
  height: $size-height-about;
  position: relative;
  z-index: map-get($layer, about)
}

.about__overlay{
  display: block;
  width: 100%;
  height: 100%;
  background-color: $color-about-overlay;
  border: 1px solid $color-about-border;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: map-get($layer,about-overlay);
}

.about__text__wrapper{
  height: inherit;
  position: relative;
  top: 0;
  left: 0;
  z-index: map-get($layer,about-text);
}

.about__text{
  color: $color-font-sub;
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
}

.about__text__main{
  font-size: 1.375rem;
  font-weight: bold;
  line-height: calc(37 / 22);
}

.about__text__sub{
  margin-top: 27px;
  font-weight: bold;
  line-height: calc(27 / 16);
}

/*===============================
product
===============================*/
.products{

}

.products__inner{
  max-width: calc($size-width-product-max + 40px * 2);
}

.products__list{
 margin-top: 64px;
 display: flex;
}

.products__item{
  width: calc(260px / $size-width-product-max * 100%);
  &:not(:first-child){
    margin-left: calc(($size-width-product-max - 260px * 3) / 2 / $size-width-product-max * 100%);
  }
}

.products__item__link{
  display: block;
  width: 100%;
  text-decoration: none;

  &:hover{
    .products__item__image{
      img{
        transform: scale(1.05, 1.05);
      }
    }
  }
}

.products__item__image{
  width: 100%;
  overflow: hidden;
  img{
    width: 100%;
    transition: transform 0.3s ease 0s;
  }
}

.products__item__text{
  padding-top: 19px;
  background-color: $color-bg-main;
}

.products__item__name{
  display: block;
  font-size: 0.875rem;
  color: $color-font-main;
  line-height: calc(24 / 14);
}

.products__item__price{
  display: block;
  margin-top: 9px;
  font-size: 0.875rem;
  color: $color-font-price;
}

/*===============================
News
===============================*/
.news{
}
.news__inner{
  max-width: calc($size-width-news-max + 40px * 2);
}

.news__list
{
  margin-top: 50px;
}

.news__item{
  padding-bottom: 24px;
  border-bottom: 1px solid $color-news-border;

  &:not(:first-child){
    margin-top: 22px;
  }
}

.news__item__link{
  text-decoration: none;
  display: flex;
  align-items: center;
  &:hover{
    .news__item__image__box > img{
      transform: translate(-50%, -50%) scale(1.05, 1.05);
    }
  }
}

.news__item__image{
  flex: 0 0 260px;
}

.news__item__image__box{
  padding-top: calc(160px / 260px * 100%);
  overflow: hidden;
  position: relative;

  > img{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease 0s;
  }
}

.news__item__text{
  flex: 0 1 100%;
  padding-left: 40px;
  color: $color-font-main;
}

.news__item__time{
  font-size: 0.875rem;
}

.news__item__title{
  margin-top: 10px;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: calc(31 / 18);
}

.news__item__detail{
  margin-top: 13px;
  font-size: 0.875rem;
  color: $color-font-news-detail;
}

