@use "_reset.scss" as reset;
@use "_config.scss" as *;

html {
	font-size: 100%;
}

body {
  color: $color-font-main;
  background: #FFF;
  font-family: $font-family;
}

img {
	max-width: 100%;
  height: auto;
  vertical-align: top;  /* img下の隙間を消す */
}

/*===============================
共通クラス
===============================*/
@include mq(sp){
	.is-pc{
    display: none;
  }
}

@include mq(pc){
	.is-sp{
    display: none;
  }
}

.inner{
  width: 100%;
  max-width: calc(#{$size-width-contents-max} + 40px *2);
  padding: 0 40px;
  margin: 0 auto;
  @include mq(sp){
    padding: 0 15px;
  }
}

.section-mt{
  margin-top: 160px;
  @include mq(sp){
    margin-top: 92px;
  }
}
.section__title{
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 17px;
  position: relative;
  &::after{
    content: "";
    display: block;
    width: 60px;
    height: 1px;
    background-color: $color-main;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  @include mq(sp){
    font-size: 1.875rem;
  }
}

.section__footer{
  margin-top: 48px;
}

.btn{
  display: inline-block;
  width: 157px;
  height: 46px;
  line-height: 46px;
  appearance: none;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
}

.more__btn__link{
  display: block;
  margin: 0 auto;
  font-size: 0.875rem;
  font-weight: bold;
  border: 1px solid $color-main;
  color: $color-main;
  background-color: $color-bg-main;
  transition: all 0.3s ease 0s;
  &:hover{
    color: $color-font-sub;
    background-color: $color-main;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*===============================
header
===============================*/
.header{
  width: 100%;
  height: $size-height-header-pc;
  background-color: $color-bg-main;
  position: fixed;
  top: 0;
  left: 0;
  z-index: map-get($layer, header);
  display: flex;
  @include mq(sp){
    height: $size-height-header-sp;
  }
}

.header__contents{
  display: flex;
  align-items: center;
}
.site-title{
  
}

.site-logo-link{
  display: block;
  width: 100%;
  height: 100%;
  img{
    width: 120px;
    height: auto;
  }
}

.header__nav{
  margin-left: auto;
  @include mq(sp){
    top: $size-height-header-sp;
    background-color: $color-main;
    width: $size-width-drawer-nav;
  }
}

.header__nav__list{
  display: flex;
  @include mq(sp){
    display: block;
    margin-top: 26px;
  }
}

.header__nav__item{
  @include mq(pc){
    &:not(:first-child){
      margin-left: 48px;
    }
  }
}

.header__nav__link{
  display: block;
  height: $size-height-header-pc; //リンク範囲を広げる
  padding: 27px 0;
  text-decoration: none;
  color: $color-font-main;
  transition: color 0.2s ease 0s;
  @include mq(sp){
    height: auto;
    font-size: 1.125rem;
    font-weight: bold;
    color: $color-font-sub;
    padding: 20px 15px;
    text-align: right;;
  }

  &:hover{
    @include mq(pc){
      color: $color-main;
    }
  }
}

.drawer-hamburger{
    width: 30px;
    padding: 20px 15px 28px;
  }

.drawer-hamburger-icon{
  background-color: $color-main;
  &::before{
    background-color: $color-main;
    top: -8px;
  }
  &::after{
    background-color: $color-main;
    top: 8px;
  }
}

@include mq(sp){
  .drawer--right{
    .drawer-nav{
      right: calc(-#{$size-width-drawer-nav} - 5px);
    }
    &.drawer-open .drawer-hamburger{
      right: 0;
    }
  }
}

.drawer-overlay{
  background-color: transparent;
}

/*===============================
top
===============================*/
.top{
  margin-top: $size-height-header-pc;
  @include mq(sp){
    margin-top: $size-height-header-sp;
  }
}

.top__contents{
  position: relative;
}

.top__image{
  display: block;
  width: 100%;
  height: 0;
  padding-top: calc(660px / 1200px * 100%);
  background: transparent url(../images/top.png) no-repeat right  / 82.5%;
  @include mq(sp){
    padding-top: calc(415px / (375px - 15px * 2) * 100%);
    background: transparent url(../images/sp/top.png) no-repeat center center / contain;
  }
}

.top__text{
  background-color: $color-bg-main;
  @include mq(pc){
    padding: 83px 44px 88px 0;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  @include mq(sp){
    padding-top: 31px;
  }
}
.top__text__main{
  font-size: 1.625rem;
  font-weight: bold;
  line-height: calc(44 / 26);
}

.top__text__sub{
  margin-top: 14px;
  line-height: calc(27 / 16);
  @include mq(sp){
    margin-top: 17px;
  }
}

/*===============================
Concept
===============================*/
.concept{

}

.concept__contents{
  @include mq(pc){
    margin-top: 64px;
    display: flex;
    align-items: center;
  }
  @include mq(sp){
    margin-top: 48px;
  }
}

.concept__image{
  width: 100%;
  @include mq(pc){
    flex: 0 0 50%;
  }
  img{
    width: 100%;
  }
}

.concept__text{
  @include mq(pc){
    flex: 0 1 50%;
    padding-left: 80px;
  }
  @include mq(sp){
    margin-top: 33px;
  }
}

.contact__text__main{
  font-size: 1.25rem;
  font-weight: bold;
  line-height: calc(34 / 20);
}

.contact__text__sub{
  margin-top: 36px;
  line-height: calc(27 / 16);
  @include mq(sp){
    margin-top: 19px;
  }
}

/*===============================
Feature
===============================*/
.feature{

}

.feature__list{
  @include mq(pc){
    margin-top: 64px;
    display: flex;
  }
  @include mq(sp){
    margin-top: 48px;
  }
}

.feature__item{
  box-shadow: 3px 3px 15px $color-shadow;
  @include mq(pc){
    flex: 0 1 calc($size-width-card-max / $size-width-contents-max * 100%);
    &:not(:first-child){
      margin-left: calc(($size-width-contents-max - $size-width-card-max * 3) / 2 / $size-width-contents-max * 100%);
    }
  }
  @include mq(sp){
    margin: 48px auto 0;
    width: 100%;
    max-width: $size-width-card-max;

  }
}

.feature__item__link{
  display: block;
  width: 100%;
  text-decoration: none;

  &:hover{
    @include mq(pc){
      .feature__item__image{
        img{
          transform: scale(1.05, 1.05);
        }
      }
    }
  }
}

.feature__item__image{
  width: 100%;
  overflow: hidden;
  img{
    width: 100%;
    transition: transform 0.3s ease 0s;
  }
}

.feature__item__text{
  background-color: $color-bg-main;
  padding: 26.5px 0;
}

.feature__item__text__main{
  font-weight: bold;
  color: $color-font-main;
  line-height: calc(27 / 16);
  text-align: center;
}

/*===============================
About
===============================*/
.about{
  @include mq(pc){
    background: transparent url(../images/bg.png) no-repeat center center / cover;
    height: $size-height-about-pc;
  }
  @include mq(sp){
    background: transparent url(../images/sp/bg.png) no-repeat center center / cover;
    height: $size-height-about-sp;
    margin-top: 96px;
  }
  width: 100%;
  position: relative;
  z-index: map-get($layer, about)
}

.about__overlay{
  display: block;
  width: 100%;
  height: 100%;
  background-color: $color-about-overlay;
  border: 1px solid $color-about-border;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: map-get($layer,about-overlay);
}

.about__text{
  color: $color-font-sub;
  position: absolute;
  z-index: map-get($layer,about-text);
  @include mq(pc){
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 40px;
  }
  @include mq(sp){
    left: 0px;
    top: 175px;
    padding: 0 15px;
  }
}

.about__text__main{
  font-size: 1.375rem;
  font-weight: bold;
  line-height: calc(37 / 22);
  @include mq(sp){
    font-size: 1.25rem;
    line-height: calc(34 / 20);
  }
}

.about__text__sub{
  margin-top: 27px;
  font-weight: bold;
  line-height: calc(27 / 16);
  @include mq(sp){
    margin-top: 20px;
    font-size: 0.875rem;
    line-height: calc(24 / 14);
  }
}

/*===============================
product
===============================*/
.products{
  @include mq(pc){
    margin-top: 164px;
  }
  @include mq(sp){
    margin-top: 95px;
  }
}

.products__inner{
  max-width: calc($size-width-product-max + 40px * 2);
}

.products__list{
  @include mq(pc){
    margin-top: 64px;
    display: flex;
  }
}

.products__item{
  @include mq(pc){
    width: calc(260px / $size-width-product-max * 100%);
    &:not(:first-child){
      margin-left: calc(($size-width-product-max - 260px * 3) / 2 / $size-width-product-max * 100%);
    }
  }
  @include mq(sp){
    width: calc(260px / (375px - 15px * 2) * 100%);
    max-width: $size-width-card-max;
    margin: 48px auto 0;
  }
}

.products__item__link{
  display: block;
  width: 100%;
  text-decoration: none;

  &:hover{
    @include mq(pc){
      .products__item__image{
        img{
          transform: scale(1.05, 1.05);
        }
      }
    }
  }
}

.products__item__image{
  width: 100%;
  overflow: hidden;
  img{
    width: 100%;
    transition: transform 0.3s ease 0s;
  }
}

.products__item__text{
  padding-top: 19px;
  background-color: $color-bg-main;
}

.products__item__name{
  display: block;
  font-size: 0.875rem;
  color: $color-font-main;
  line-height: 1.9;
}

.products__item__price{
  display: block;
  margin-top: 9px;
  font-size: 0.875rem;
  color: $color-font-price;
}

/*===============================
News
===============================*/
.news{
  @include mq(sp){
    margin-top: 96px;
  }
}
.news__inner{
  max-width: calc($size-width-news-max + 40px * 2);
}

.news__list
{
  margin-top: 50px;
  @include mq(sp){
    margin-top: 47px;
  }
}

.news__item{
  padding-bottom: 24px;
  border-bottom: 1px solid $color-news-border;

  &:not(:first-child){
    margin-top: 23px;
  }
  @include mq(sp){
    margin: 0 auto;
    padding-bottom: 19px;

  }
}

.news__item__link{
  display: block;
  margin: 0 auto;
  text-decoration: none;
  @include mq(pc){
    display: flex;
    align-items: center;
    &:hover{
      .news__item__image__box > img{
        transform: translate(-50%, -50%) scale(1.05, 1.05);
      }
    }
  }
  @include mq(sp){
    width: calc(310px / (375px - 15px * 2)  * 100%);
  }
}

.news__item__image{
  @include mq(pc){
    flex: 0 0 260px;
  }
  @include mq(sp){
    width: 100%;
  }
}

.news__item__image__box{
  padding-top: calc(160px / 260px * 100%);
  overflow: hidden;
  position: relative;

  > img{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease 0s;
  }
}

.news__item__text{
  color: $color-font-main;
  @include mq(pc){
    width: calc(100% - 260px);
    padding-left: 40px;
    word-wrap: break-word;
  }
  @include mq(sp){
    width: 100%;
    margin-top: 21px;
  }
}

.news__item__time{
  font-size: 0.875rem;
}

.news__item__title{
  margin-top: 10px;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: calc(31 / 18);
  @include mq(sp){
    font-size: 1rem;
  }
}

.news__item__detail{
  margin-top: 13px;
  font-size: 0.875rem;
  color: $color-font-news-detail;
  line-height: calc(24 / 14);
  &.margin-adjustment{
    margin-top: 5px;
  }
}

/*===============================
about2
===============================*/
.about2{
  @include mq(pc){
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  @include mq(sp){
    margin-top: 96px;
  }
}

.about2__image{
  @include mq(pc){
    flex: 0 0 50%;
  }
  img{
    width: 100%;
  }
}

.about2__text{
  @include mq(pc){
    flex: 0 1 50%;
    padding-right: calc(80px / $size-width-contents-max * 100%);
    margin-top: -5px;
  }
  @include mq(sp){
    margin-top: 33px;
  }
}

.about2__text__main{
  font-size: 1.75rem;
  font-weight: bold;
  line-height: calc(48 / 28);
  @include mq(sp){
    font-size: 1.25rem;
    line-height: calc(34 / 20);
  }
}

.about2__text__sub{
  margin-top: 31px;
  line-height: calc(27 / 16);
  @include mq(sp){
    margin-top: 19px;
    font-size: 0.875rem;
    line-height: calc(24 / 14);
  }
}

/*===============================
Contact
===============================*/
.contact{
  margin-top: 225px;
  background: transparent url(../images/contact.png) no-repeat center center /cover;
  padding: 70px 0 82px;
  @include mq(sp){
    margin-top: 88px;
    padding: 57px 0 54px;
  }
}

.contact__inner{
  max-width: calc($size-width-contact-max + 40px * 2);
}

.section__title-contact{
  @extend .section__title;
  color: $color-main;
}

.contact__form{
  margin-top: 56px;
  @include mq(sp){
    margin: 25px auto 0;
    width: calc(320px / (375px - 15px * 2) * 100%);
  }
}

.contact__form__text{
  font-size: 0.875rem;
  line-height: calc(24 / 14);
  text-align: center;
  & > span{
    font-size: 1rem;
    color: $color-contact-attention;
    line-height: calc(27 / 16);
    letter-spacing: 0.1em;
  }
}

.contact__form__list{
  margin-top: 18px;
  @include mq(sp){
    margin-top: 26px;
  }
}

.contact__form__item{
  width: 100%;
  @include mq(pc){
    display: flex;
    & > dt{
      flex: 0 0 190px;
    }
    & > dd{
      flex: 0 1 100%;
    }
  }
  &:not(:first-child){
    @include mq(pc){
      margin-top: 32px;
    }
    @include mq(sp){
      margin-top: 33px;
    }
  }
}

.contact__form__label{
  background-color: $color-bg-contact-label;
  text-align: center;

  @include mq(pc){
    display: block;
    height: 40px;
    line-height: 40px;
      margin-right: 16px;
    width: calc(100% - 16px);
    position: relative;
    &:after{
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 20px 0 20px 6px;
      border-color: transparent transparent transparent  $color-bg-contact-label;
      position: absolute;
      top: 0;
      right: -6px;
    }
  }
  @include mq(sp){
    display: inline-block;
    height: 32px;
    line-height: 32px;
    padding: 0 26px 0 16px;
  }

  & > span{
    font-weight: bold;
    color: $color-font-sub;
    @include mq(pc){
      font-size: 1.125rem;
      margin-left: -8px;
    }
    @include mq(sp){
      font-size: 0.875rem;
    }
  }
  &.contact__form__required > span{
    position: relative;
    &::after{
      content: "＊";
      font-size: 0.75em;
      color: $color-contact-attention;
      line-height: 1;
      position: absolute;
      top: -3px;
      right: -1em;
      @include mq(sp){
        font-size: 0.625rem;
      }
    }
  }
}

.contact__form__input{
  appearance: none;
  border: none;
  border-radius: 2px;
  box-shadow: 5px 5px 16px $color-shadow;

  &[type="text"],&[type="email"]{
    display: block;
    width: 100%;
    height: 40px;
    font-size: 1.125rem;
    color: $color-font-main;
    letter-spacing: 0.05em;
    padding: 0 0.5em;
    @include mq(sp){
      margin-top: 3px;
      font-size: 0.875rem;
    }
  }

  &[type="radio"]{
    & + span{
      border-radius: 1px;
      display: inline-block;
      width: 80px;
      height: 40px;
      line-height: 40px;
      background-color: $color-bg-main;
      border: 1px solid $color-bg-main;
      font-size: 1rem;
      color: $color-main;
      text-align: center;
      transition: all 0.2s ease 0s;
    }

    &:checked + span{
      background-color: $color-main;
      color: $color-font-sub;
    }
    &:focus-visible + span{
      outline: -webkit-focus-ring-color auto 1px;
    }
  }
  &[type="checkbox"]{
    & + span{
      display: inline-block;  /* 文章が折り返したときpaddingに重ならないようにする */
      color: $color-font-main;
      line-height: calc(27 / 16);
      padding-left: 30px;
      position: relative;

      &::before{
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        border: 1px solid $color-main;
        background-color: $color-bg-main;
        position: absolute;
        top: 2px;
        left: 0;
        transition: width 0.2s ease 0s, transform 0.2s ease 0s;
      }
    }
    &:checked + span::before{
      width: 10px;
      background-color: transparent;
      border-top: none;
      border-left: none;
      transform: rotate(45deg);
      top: 0;
      left: 5px;
    }
    &:focus-visible + span::before{
      outline: -webkit-focus-ring-color auto 1px;
    }
    &:checked:focus-visible + span::before{
      outline: none;
    }
  }

}

.contact__form__flex__radio{
  font-size: 0; /* inline-block間の隙間を消す */
  @include mq(sp){
    margin-top: 3px;
  }
}

.contact__form__textarea{
  appearance: none;
  border: none;
  border-radius: 2px;
  box-shadow: 5px 5px 16px $color-shadow;
  resize: vertical;
  display: block;
  width: 100%;
  min-height: 122px;
  font-size: 1.125rem;
  color: $color-font-main;
  letter-spacing: 0.05em;
  padding: 4px 0.5em;
  @include mq(sp){
    margin-top: 3px;
    font-size: 0.875rem;
  }

}
.contact__form__privacy-policy__wrapper{
  text-align: center;
  margin-top: 31px;
  @include mq(sp){
    margin-top: 25px;
  }
}

.contact__form__privacy-policy{
  display: inline-block;
}

.privacy-policy__link{
  color: $color-main;
  line-height: calc(27 / 16);
}

.contact__form__submit{
  display: block;
  margin: 46px auto 0;
  width: 137px;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  border: 1px solid $color-main;
  color: $color-main;
  background-color: $color-bg-main;
  transition: all 0.3s ease 0s;
  @include mq(sp){
    margin: 26px auto 0;
  }
  &.is-active{
    color: $color-font-sub;
    background-color: $color-main;
  }
}

/*===============================
footer
===============================*/
.footer{
  padding: 48px 0 17px;
  background-color: $color-bg-sub;
  text-align: center;
  @include mq(sp){
    padding: 40px 0 17px;
  }
}

.footer__logo{

}

.footer__logo__link{
  display: block;
  width: 100%;
  height: 100%;
  img{
    width: 120px;
    height: auto;
  }
}

.footer__nav{
  margin-top: 19px;
  @include mq(pc){
    margin-top: 22px;
    display: flex;
    justify-content: center;
  }
}

.footer__nav__item{
  &:not(:first-child){
    @include mq(pc){
      margin-left: 32px;
    }
    @include mq(sp){
      margin-top: 14px;
    }
  }
}

.footer__nav__link{
  font-size: 0.75em;
  color: $color-font-main;
  text-decoration: none;
  padding: 10px 0;
  &:hover{
    @include mq(pc){
      opacity: 0.7;
    }
  }
}

.footer__sns__list{
  margin-top: 36px;
  display: flex;
  justify-content: center;
  @include mq(sp){
    margin-top: 32px;
  }
}

.footer__sns__icon{
  &:not(:first-child){
    margin-left: 18px;
  }
}

.sns__link{
  font-size: 1.3rem;
  color: $color-main;
  text-decoration: none;
  padding: 11px;
  &:hover{
    @include mq(pc){
      opacity: 0.7;
    }
  }
}

.footer__copyright{
  margin-top: 22px;
  @include mq(sp){
    margin-top: 15px;
  }
}

.footer__copyright__text{
  font-size: 0.75rem;
  color: $color-font-copyright;
}
