@use "global" as global;

.p-header {
	width: 100%;
	height: global.$size-header-height-pc;
	
}

.p-header__inner {
	width: 100%;
	max-width: calc(1464px + 24px * 2);
	padding: 0 24px;
	height: 100%;
	background: global.$color-light;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include global.mq(not-pc){
		position: relative;
		z-index: 20;
	}
}

.p-header__logo {
	width: 183px;
	flex-shrink: 0;
	@include global.mq(not-pc){
		width: 210px;
	}
}

.p-header__logo__link {
	img{
		width: 100%;
		height: auto;
		display: block;
	}
}

.p-header__nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 16px;
	@include global.mq(not-pc){
		margin-top: global.$size-header-height-pc;
		width: 100%;
		height: calc(100vh - global.$size-header-height-pc);
		max-width: 375px;
		background-color: global.$color-light;
		flex-direction: column;
		gap: 40px;
		justify-content: center;
		position: absolute;
		top: 0;
		right: calc(-375px - 2px);	//見切れないように念のため2px余分に移動
		z-index: 20;
		transition: right 0.5s ease 0s;
		&.is-open {
			right: 0;
		}
	}
}

.p-header__nav__list {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 12px;
	@include global.mq(not-pc){
		flex-direction: column;
		justify-content: center;
		gap: 40px;
	}
}

.p-header__nav__item {
	font-size: 0.75rem;
	@include global.mq(not-pc){
		font-size: 0.875rem;
	}
}

.p-header_nav__button{
	font-size: 0.875rem;
	font-weight: 700;
	@include global.mq(not-pc){
		font-size: 1rem;
	}
}

.p-header__hamburger {
	appearance: none;
	@include global.mq(not-pc){
		width: 32px;
		height: 44px;	// タップ範囲44px固定
		position: relative;
		cursor: pointer;
	}

}

.p-header__hamburger__icon {
	display: inline-block;
	width: 100%;
	height: 27px;	//実際のhamburgerボタンの高さ
	position: relative;
}

.p-header__hamburger__icon__bar {
	display: inline-block;
	width: 100%;
	height: 3px;
	background-color: global.$color-dark;
	border-radius: 6px;
	position: absolute;
	left: 0;
}

.p-header__hamburger__icon__bar:nth-child(1){
	width: 25.6px;
	top: 0;
	transition: all 0.3s ease 0s;
	&::after {
		content:'';
		display: inline-block;
		width: 4.8px;
		height: 3px;
		background-color: global.$color-dark;
		border-radius: 6px;
		position: absolute;
		right: -6.4px;
		top: 0;
	}
	.is-open &{
		width: 100%;
		top: 50%;
		transform: rotate(-45deg) translateY(-50%);
		&::after {
			opacity: 0;
			visibility: hidden;
		}
	}
}

.p-header__hamburger__icon__bar:nth-child(2){
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.1s ease 0s;
	.is-open &{
		height: 0;
		opacity: 0;
	}
}

.p-header__hamburger__icon__bar:nth-child(3){
	bottom: 0;
	transition: all 0.3s ease 0s;
	.is-open &{
		transform: rotate(45deg) translateY(50%);
		bottom: 50%;
	}
}

.p-header__bg{
	position: fixed;
	display: block;
	visibility: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	background-color: global.$color-main;
	opacity: 0;
	transition: opacity 0.3s ease 0s;
	&.is-open{
		visibility: visible;
		opacity: 0.5;
	}
}
