@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

html {
  font-size: 100%;
}

body {
  color: #3E3E3E;
  background: #F3F3F3;
  font-family: "Montserrat", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  font-weight: 500;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top; /* img下の隙間を消す */
}

/*===============================
共通クラス
===============================*/
@media not screen and (min-width: 1024px) {
  .is-pc {
    display: none;
  }
}

@media not screen and (max-width: 767px) {
  .is-sp {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .not-pc {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .not-sp {
    display: none;
  }
}

.inner {
  height: inherit;
  width: 100%;
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  text-decoration: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

.btn__cv {
  font-size: 1.125rem;
  font-weight: 500;
  color: #FFFFFF;
  letter-spacing: 0.025em;
  background-color: #FFAA3B;
  -webkit-box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
          box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
  padding: 17px 50px 15px;
  border-radius: 10px;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}
.btn__cv:hover {
  background-color: #F18900;
}
.btn__cv:disabled {
  background-color: #B2B2B2;
  cursor: auto;
}

.btn__general {
  font-size: 1.25rem;
  font-weight: 600;
  color: #3E3E3E;
  letter-spacing: 0.2em;
  padding: 21px 75px 21px 79px;
}
.btn__general.btn__general__light {
  color: #3E3E3E;
  background-color: #FFF;
  border: 1px solid #707070;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.btn__general.btn__general__light:hover {
  color: #FFFFFF;
  background-color: #3E3E3E;
  border: 1px solid #FFF;
}
.btn__general.btn__general__dark {
  color: #FFFFFF;
  background-color: #3E3E3E;
  border: 1px solid #FFF;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.btn__general.btn__general__dark:hover {
  color: #3E3E3E;
  background-color: #FFF;
  border: 1px solid #707070;
}

.section__title, .section__title-light {
  font-size: 2.25rem;
  font-weight: 600;
  color: #3E3E3E;
}
.section__title.section__title-center, .section__title-center.section__title-light {
  text-align: center;
}

.section__title-light {
  color: #FFFFFF;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visually-hidden-label {
  position: relative;
}

/*===============================
Header
===============================*/
.header {
  width: 100%;
  height: 83px;
  background-color: rgba(255, 255, 255, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 800;
}

.header__logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1024px) {
  .header__logo {
    display: none;
  }
}

.header__logo__link {
  text-decoration: none;
  font-size: 1.4375rem;
  font-weight: 700;
  color: #3E3E3E;
}

.header__nav {
  height: 100%;
}

.header__nav__list {
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .header__nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .header__nav__item:not(:first-child) {
    margin-left: 2.1666666667%;
  }
}

.header__nav__link {
  text-decoration: none;
  font-size: 1rem;
  color: #3E3E3E;
  letter-spacing: -0.025em;
  display: inline-block;
  padding: 6px 7px;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-bottom 0.3s ease 0s;
  transition: border-bottom 0.3s ease 0s;
}
.header__nav__link:hover {
  border-bottom: 1px solid #3E3E3E;
}

/*===============================
main
===============================*/
.main {
  position: relative;
  z-index: 500;
}

/*===============================
first view
===============================*/
.fv {
  background: transparent url(../images/mv.png) no-repeat center center/cover;
}
@media screen and (max-width: 767px) {
  .fv {
    background: transparent url(../images/mv.png) no-repeat 21% center/cover;
  }
}

.fv__contents {
  width: 50%;
  margin-left: auto;
  padding: 229px 0 153px;
}

.fv__heading {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.5;
}

.fv__lead {
  margin-top: 27px;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.5555555556;
  letter-spacing: 0.025em;
}

.fv__btn {
  margin-top: 37px;
}

/*===============================
News
===============================*/
.news {
  margin: 120px auto 0;
}

.news__wrap {
  background-color: #FFF;
  -webkit-box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
          box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
  padding: 64px 60px 40px;
}

.news__contents {
  margin-top: 63px;
}

.news__item {
  border-top: 1px solid #CECDCD;
  position: relative;
}
.news__item:last-child {
  border-bottom: 1px solid #CECDCD;
}
.news__item:after {
  content: "";
  display: block;
  width: 14px;
  height: 24px;
  background: transparent url(../images/news-arrow.svg) no-repeat center center/contain;
  pointer-events: none;
  position: absolute;
  right: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.news__item__link {
  text-decoration: none;
  color: #3E3E3E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 36px 0;
  min-height: 110px;
}
.news__item__link:hover {
  background-color: rgba(73, 115, 255, 0.1);
}

.news__item__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 260px;
}

.news__item__date {
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.025em;
}

.news__item__tag {
  margin-left: 40px;
  width: 120px;
  font-size: 0.875rem;
  border: 2px solid #3B69FF;
  border-radius: 50px;
  padding: 6px 0;
  text-align: center;
}

.news__item__text {
  width: 100%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  padding-left: 40px;
  padding-right: 83px;
}

.news__item__heading {
  display: block;
  margin-top: 1px;
  font-size: 1.125rem;
  line-height: 1.5555555556;
  letter-spacing: 0.025em;
}

.news__footer {
  margin-top: 39px;
  text-align: center;
}

/*===============================
Service
===============================*/
.service {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3E3E3E), color-stop(80.808%, #F3F3F3));
  background: linear-gradient(to bottom, #3E3E3E 0 80.808%, #F3F3F3 80.808% 100%);
  margin-top: 120px;
  padding-top: 64px;
}

.service__contents {
  background-color: #FFF;
  -webkit-box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
          box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
  margin: 64px auto 0;
}
@media screen and (min-width: 1024px) {
  .service__contents {
    width: 80%;
    max-width: 960px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 60px 0;
  }
}

.service__item {
  width: 23.9583333333%;
  min-width: 160px;
}

.service__item__image {
  width: 64px;
  height: 64px;
  margin: 0 auto;
  padding: 10px 7px;
}
.service__item__image img {
  width: 100%;
  height: auto;
}

.service__item__title {
  display: block;
  margin-top: 6px;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.2em;
  text-align: center;
}

.service__item__text {
  margin-top: 11px;
  font-size: 0.875rem;
  line-height: 1.7142857143;
}

/*===============================
Results
===============================*/
.results {
  margin-top: 120px;
  overflow: hidden;
}

.results__wrap {
  background-color: #3E3E3E;
  padding: 60px 0 60px 60px;
  width: 100vw;
}

.results__contents {
  margin-top: 60px;
}

.results__item {
  width: 400px;
}
.results__item:not(:last-child) {
  margin-right: 40px;
}

.results__item__image {
  width: 100%;
}
.results__item__image img {
  max-width: 100%;
}

.results__item__text {
  background-color: #FFF;
  padding: 16px;
}

.results__item__text__main {
  font-size: 1.125rem;
  font-weight: bold;
}

.results__item__text__sub {
  margin-top: 12px;
  line-height: 1.5;
}

.swiper {
  padding-bottom: 60px;
}

.swiper-pagination {
  text-align: left;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 4px;
  left: -4px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  --swiper-pagination-bullet-horizontal-gap: 10px;
}

.swiper-pagination-bullet {
  --swiper-pagination-bullet-size: 12px;
  --swiper-pagination-bullet-inactive-color: #FFF;
  --swiper-pagination-bullet-inactive-opacity: 1;
  position: relative;
}
.swiper-pagination-bullet::before {
  content: "";
  width: 18px;
  height: 18px;
  background-color: transparent;
  border: 1px solid #FFF;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  opacity: 1;
}

.swiper-pagination-bullet-active {
  --swiper-pagination-bullet-size: 12px;
  --swiper-pagination-color: #FFF;
  --swiper-pagination-bullet-opacity: 1;
}

.results__footer {
  margin-top: 40px;
}

/*===============================
Price
===============================*/
.price {
  margin-top: 120px;
}
@media screen and (min-width: 1024px) {
  .price {
    width: 80%;
    max-width: 960px;
  }
}

.price__table {
  margin: 60px auto 0;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

.price__table__row {
  height: 60px;
  width: 100%;
}

.price__table__head {
  width: 262px;
  font-size: 1.5rem;
  font-weight: 600;
  color: #FFFFFF;
  text-align: center;
  background-color: #3E3E3E;
  vertical-align: middle;
  border-style: solid;
  border-width: 1px;
  border-color: #3E3E3E #3E3E3E #F3F3F3;
}
.price__table__row:last-child > .price__table__head {
  border-color: #3E3E3E;
}

.price__table__data {
  width: calc(100% - 262px);
  font-size: 1.5rem;
  font-weight: 600;
  color: #3E3E3E;
  background-color: #FFF;
  vertical-align: middle;
  padding: 0 40px;
  border-style: solid;
  border-width: 1px;
  border-color: #707070 #707070 #707070;
}

.price__text {
  font-size: 0.75rem;
  margin-top: 12px;
}

/*===============================
Comments
===============================*/
.comments {
  margin-top: 120px;
  padding-bottom: 120px;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, transparent), color-stop(76.5625%, #F3F3F3)), -webkit-gradient(linear, left top, left bottom, color-stop(0, #F3F3F3), color-stop(20.442%, #3E3E3E));
  background: linear-gradient(to right, transparent 0 76.5625%, #F3F3F3 76.5625% 100vw), linear-gradient(to bottom, #F3F3F3 0 20.442%, #3E3E3E 20.442% 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.comments::before {
  content: "";
  display: block;
  width: 100vw;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F3F3F3), color-stop(20.442%, #3E3E3E));
  background: linear-gradient(to bottom, #F3F3F3 0 20.442%, #3E3E3E 20.442% 100%);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.comments__contents {
  width: 55.5%;
  padding: 10% 60px;
  background-color: #FFF;
  -webkit-box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
          box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
  min-width: 400px;
}

.comments__item {
  margin-top: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comments__item__image {
  width: 100px;
  height: 100px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.comments__item__image img {
  width: 100%;
  height: auto;
}

.comments__item__text {
  margin-left: 32px;
  line-height: 1.5;
}

.comments__image {
  width: 44.5%;
}

/*===============================
FAQ
===============================*/
.faq {
  background: transparent url(../images/qa-bg.png) no-repeat center top/cover;
  background-attachment: fixed;
  padding: 60px 0 120px;
}

.faq__list {
  margin-top: 60px;
  width: 612px;
  margin-left: auto;
}

.faq__item {
  background-color: #FFF;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}
.faq__item:not(:first-child) {
  margin-top: 32px;
}

.faq__accordion__button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border-radius: 0;
  background-color: transparent;
  text-align: left;
  width: 100%;
  height: 100%;
  padding: 12px 16px 12px 16px;
}

.faq__item__q {
  padding-left: 40px;
  position: relative;
}
.faq__item__q::after {
  content: "Q";
  display: block;
  font-weight: 600;
  color: #FFFFFF;
  text-align: center;
  width: 24px;
  height: 24px;
  line-height: 24px;
  background-color: #3B69FF;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.faq__item__q__text {
  font-size: 1rem;
  font-weight: bold;
  color: #3E3E3E;
  line-height: 1.5;
}

.faq__item__a {
  margin-top: 20px;
  line-height: 1.5;
  background-color: rgba(73, 115, 255, 0.2);
  padding: 12px 16px 12px 16px;
  border-radius: 4px;
  display: none;
}

.faq__item__btn-mark {
  position: absolute;
  right: -8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.faq__item__btn-mark__border {
  display: block;
  width: 17px;
  height: 3px;
  background-color: #3B69FF;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
.faq__item__btn-mark__border:first-child {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: translate(-50%) rotate(-90deg);
          transform: translate(-50%) rotate(-90deg);
}
.faq__item__btn-mark.is-open .faq__item__btn-mark__border:first-child {
  -webkit-transform: translate(-50%) rotate(0deg);
          transform: translate(-50%) rotate(0deg);
  opacity: 0.3;
}

/*===============================
Access
===============================*/
.access {
  padding-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #F3F3F3), color-stop(21.25%, transparent)), -webkit-gradient(linear, right top, left top, color-stop(0, #F3F3F3), color-stop(23.4375%, #3E3E3E));
  background: linear-gradient(to top, #F3F3F3 0 21.25%, transparent 21.25% 100%), linear-gradient(to left, #F3F3F3 0 23.4375%, #3E3E3E 23.4375% 100%);
  background-color: #F3F3F3;
  width: 100%;
  position: relative;
}
.access::before {
  content: "";
  display: block;
  width: 100vw;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #F3F3F3), color-stop(21.25%, #3E3E3E));
  background: linear-gradient(to top, #F3F3F3 0 21.25%, #3E3E3E 21.25% 100%);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.access__text {
  width: 39.5%;
}

.access__address {
  margin-top: 56px;
  font-weight: 500;
  font-style: normal;
  color: #FFFFFF;
  line-height: 1.5;
}

.access__btn {
  margin-top: 28px;
}

.access__map__wrap {
  width: 60.5%;
}

.access__map {
  padding-top: 71.6253443526%;
  height: 0;
  position: relative;
}
.access__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*===============================
contact
===============================*/
.contact {
  margin-top: 120px;
  background: transparent url(../images/contact-bg.png) no-repeat center center/cover;
  padding: 60px 0;
}

.contact__contents {
  margin: 0 auto;
  border-radius: 12px;
  background-color: #FFF;
}
@media screen and (min-width: 1024px) {
  .contact__contents {
    width: 80%;
    max-width: 960px;
  }
}

.contact__contents__header {
  background: transparent url(../images/contact1.png) no-repeat center center/cover;
  padding: 60px 0 56px;
  border-radius: 12px 12px 0 0;
  text-align: center;
}

.contact__header__text {
  margin-top: 12px;
  color: #FFFFFF;
  line-height: 1.5;
}

.contact__form {
  padding: 60px 120px;
}
.contact__form.is-hidden {
  display: none;
}

.contact__form__list > *:not(:first-child) {
  margin-top: 32px;
}

@media screen and (min-width: 1024px) {
  .contact__form__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact__form__row__left {
  width: 188px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.contact__form__row__right {
  width: calc(100% - 188px);
}

.contact__form__item__label {
  display: block;
  width: 100%;
}

.contact__for__item__title {
  font-weight: bold;
  position: relative;
}
.contact__form__item__label.is-required > .contact__for__item__title::after {
  content: "必須";
  display: block;
  width: 40px;
  height: 16px;
  text-align: center;
  background-color: #FF4646;
  border-radius: 2px;
  font-size: 0.75rem;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 16px;
  position: absolute;
  right: -56px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contact__form__select__wrap {
  display: inline-block;
  position: relative;
}

.contact__form__select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #707070;
  border-radius: 0;
  width: 178px;
  height: 40px;
  padding: 0 24px 0 12px;
  font-size: 1rem;
  font-weight: 500;
  color: #3E3E3E;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.2s ease 0s;
  transition: -webkit-box-shadow 0.2s ease 0s;
  transition: box-shadow 0.2s ease 0s;
  transition: box-shadow 0.2s ease 0s, -webkit-box-shadow 0.2s ease 0s;
}
.contact__form__select:hover, .contact__form__select:focus, .contact__form__select:focus-visible {
  outline: none;
  border: 1px solid #4973FF;
  -webkit-box-shadow: 0 0 5px rgba(73, 115, 255, 0.2);
          box-shadow: 0 0 5px rgba(73, 115, 255, 0.2);
}

.contact__form__select__arrow {
  display: block;
  width: 10px;
  height: 10px;
  border-right: 3px solid #3E3E3E;
  border-bottom: 3px solid #3E3E3E;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 13px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 0;
}

.contact__form__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border-radius: 0;
}
.contact__form__input::-webkit-input-placeholder {
  color: #9E9E9E;
}
.contact__form__input::-moz-placeholder {
  color: #9E9E9E;
}
.contact__form__input:-ms-input-placeholder {
  color: #9E9E9E;
}
.contact__form__input::-ms-input-placeholder {
  color: #9E9E9E;
}
.contact__form__input::placeholder {
  color: #9E9E9E;
}
.contact__form__input[type=text], .contact__form__input[type=email] {
  border-bottom: 1px solid #9E9E9E;
  border-radius: 0;
  width: 100%;
  height: 40px;
  padding: 0 24px 0 12px;
  font-size: 16px;
  font-weight: 500;
  color: #3E3E3E;
  cursor: pointer;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.contact__form__input[type=text]:hover, .contact__form__input[type=text]:focus, .contact__form__input[type=text]:focus-visible, .contact__form__input[type=email]:hover, .contact__form__input[type=email]:focus, .contact__form__input[type=email]:focus-visible {
  outline: none;
  border-bottom: 1px solid #4973FF;
  -webkit-box-shadow: 0 5px 4px -4px rgba(73, 115, 255, 0.5);
          box-shadow: 0 5px 4px -4px rgba(73, 115, 255, 0.5);
}
.contact__form__input[type=radio] {
  font-size: 16px;
}
.contact__form__input[type=checkbox] + .check-box {
  padding-left: 40px;
  position: relative;
}
.contact__form__input[type=checkbox] + .check-box:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #707070;
  background-color: #FFF;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
  -webkit-transition: border-color 0.3s ease 0s, background-color 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
  transition: border-color 0.3s ease 0s, background-color 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
  transition: border-color 0.3s ease 0s, box-shadow 0.3s ease 0s, background-color 0.3s ease 0s;
  transition: border-color 0.3s ease 0s, box-shadow 0.3s ease 0s, background-color 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
}
.contact__form__input[type=checkbox] + .check-box:hover::before {
  border-color: #3B69FF;
  -webkit-box-shadow: 0 0 5px rgba(73, 115, 255, 0.2);
          box-shadow: 0 0 5px rgba(73, 115, 255, 0.2);
}
.contact__form__input[type=checkbox] + .check-box:active::before {
  border-color: #3B69FF;
  background-color: rgba(73, 115, 255, 0.2);
}
.contact__form__input[type=checkbox] + .check-box:after {
  content: "";
  display: block;
  width: 7px;
  height: 14px;
  border-right: 3px solid #3B69FF;
  border-bottom: 3px solid #3B69FF;
  cursor: pointer;
  position: absolute;
  left: 6px;
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 20;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease 0s;
  transition: opacity 0.2s ease 0s;
}
.contact__form__input[type=checkbox]:focus + .check-box::before, .contact__form__input[type=checkbox]:focus-visible + .check-box::before {
  border-color: #3B69FF;
  -webkit-box-shadow: 0 0 5px rgba(73, 115, 255, 0.2);
          box-shadow: 0 0 5px rgba(73, 115, 255, 0.2);
}
.contact__form__input[type=checkbox]:checked + .check-box::after {
  opacity: 1;
}

.contact__form__radio__group > .radio__item {
  display: inline-block;
}
.contact__form__radio__group > .radio__item:not(:first-child) {
  margin-left: 40px;
}
.contact__form__radio__group > .radio__item .radio-btn {
  padding-left: 20px;
  position: relative;
}
.contact__form__radio__group > .radio__item .radio-btn::before {
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  border: 1px solid;
  border-color: #707070;
  border-radius: 50%;
  background-color: #FFF;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: border-color 0.3s ease 0s, background-color 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
  transition: border-color 0.3s ease 0s, background-color 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
  transition: border-color 0.3s ease 0s, box-shadow 0.3s ease 0s, background-color 0.3s ease 0s;
  transition: border-color 0.3s ease 0s, box-shadow 0.3s ease 0s, background-color 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
}
.contact__form__radio__group > .radio__item .radio-btn:hover::before {
  border-color: #3B69FF;
  -webkit-box-shadow: 0 0 6px rgba(73, 115, 255, 0.2);
          box-shadow: 0 0 6px rgba(73, 115, 255, 0.2);
}
.contact__form__radio__group > .radio__item .radio-btn:active::before {
  border-color: #3B69FF;
  background-color: rgba(73, 115, 255, 0.2);
}
.contact__form__radio__group > .radio__item .radio-btn::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: #3B69FF;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  left: 3px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease 0s;
  transition: opacity 0.2s ease 0s;
}
.contact__form__radio__group > .radio__item .contact__form__input:focus + .radio-btn::before, .contact__form__radio__group > .radio__item .contact__form__input:focus-visible + .radio-btn::before {
  border-color: #3B69FF;
  -webkit-box-shadow: 0 0 6px rgba(73, 115, 255, 0.2);
          box-shadow: 0 0 6px rgba(73, 115, 255, 0.2);
}
.contact__form__radio__group > .radio__item .contact__form__input:checked + .radio-btn::after {
  opacity: 1;
}

.contact__form__vertical_bottom {
  margin-top: 8px;
}

.contact__form__textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #707070;
  border-radius: 0;
  width: 100%;
  min-height: 200px;
  resize: vertical;
  padding: 0.5em 1em;
  font-size: 1rem;
  font-weight: 500;
  color: #3E3E3E;
  line-height: 1.5;
  cursor: pointer;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.contact__form__textarea:hover, .contact__form__textarea:focus, .contact__form__textarea:focus-visible {
  outline: none;
  border: 1px solid #4973FF;
  -webkit-box-shadow: 0 0 8px rgba(73, 115, 255, 0.5);
          box-shadow: 0 0 8px rgba(73, 115, 255, 0.5);
}

.contact__from__privacy__check {
  margin-top: 40px;
}
.contact__from__privacy__check span {
  font-size: 1.125rem;
  font-weight: bold;
}

.contact__form__btn {
  margin-top: 40px;
}

.contact__result {
  padding: 60px 40px;
  display: none;
}

.contact__success__message {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
}

/*===============================
footer
===============================*/
.footer {
  background-color: #3E3E3E;
  padding: 60px 0;
}

.footer__contents {
  margin: 0 auto;
  width: 80%;
  max-width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .footer__contents {
    display: block;
  }
}

.footer__links {
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .footer__links {
    text-align: center;
  }
}

.footer__sns__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__sns__item:not(:first-child) {
  margin-left: 27px;
}

.footer__sns__link {
  display: block;
  text-decoration: none;
  font-size: 2.25rem;
  font-weight: normal;
  color: #FFFFFF;
  opacity: 0.6;
  padding: 5px;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
.footer__sns__link:hover {
  opacity: 0.9;
}

.footer__nav__list {
  margin-top: 25px;
}

.footer__nav__item:not(:first-child) {
  margin-top: 14px;
}

.footer__nav__link {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
  letter-spacing: 0.025rem;
  padding: 10px 0;
}
.footer__nav__link:hover {
  opacity: 0.6;
}

.footer__text {
  margin-left: auto;
  text-align: right;
}
@media screen and (max-width: 767px) {
  .footer__text {
    text-align: center;
  }
}

.footer__logo__link {
  display: block;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 700;
  color: #FFFFFF;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
.footer__logo__link:hover {
  opacity: 0.6;
}

.footer__copyright {
  display: block;
  margin-top: 10px;
  font-size: 0.75rem;
  font-weight: 400;
  color: #FFFFFF;
  letter-spacing: 0.025rem;
  opacity: 0.6;
}

/*===============================
to Top
===============================*/
.to-top {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 900;
  pointer-events: none;
  display: none; /* 初期状態は非表示 スクロールで表示(js)*/
  background-color: red;
  opacity: 0.5;
}

.to-top__wrap {
  background-color: blue;
  pointer-events: none;
  position: relative;
}

.to-top__link {
  display: block;
  width: 50px;
  height: 50px;
  pointer-events: auto;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  position: absolute;
  bottom: 40px;
  right: 0;
}
.to-top__link:hover {
  opacity: 0.6;
}