@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

html {
  font-size: 100%;
}

body {
  color: #3E3E3E;
  background: #F3F3F3;
  font-family: "Montserrat", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  font-weight: 500;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top; /* img下の隙間を消す */
}

/*===============================
共通クラス
===============================*/
@media screen and (max-width: 767.99px) {
  .is-pc {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}
.inner {
  height: inherit;
  width: 100%;
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  text-decoration: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

.btn__cv {
  font-size: 1.125rem;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #FFAA3B;
  -webkit-box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
          box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
  padding: 16px 50px;
  border-radius: 10px;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}
.btn__cv:hover {
  background-color: #F18900;
}

.btn__general {
  font-size: 1.25rem;
  font-weight: 600;
  color: #3E3E3E;
  letter-spacing: 0.2em;
  padding: 22px 78px;
}
.btn__general.btn__general__light {
  color: #3E3E3E;
  background-color: #FFF;
  border: 1px solid #707070;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.btn__general.btn__general__light:hover {
  color: #FFFFFF;
  background-color: #3E3E3E;
  border: 1px solid #FFF;
}
.btn__general.btn__general__dark {
  color: #FFFFFF;
  background-color: #3E3E3E;
  border: 1px solid #FFF;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.btn__general.btn__general__dark:hover {
  color: #3E3E3E;
  background-color: #FFF;
  border: 1px solid #707070;
}

.section__title, .section__title-light {
  font-size: 2.25rem;
  font-weight: 600;
  color: #3E3E3E;
}

.section__title-light {
  color: #FFFFFF;
}

/*===============================
Header
===============================*/
.header {
  width: 100%;
  height: 83px;
  background-color: rgba(255, 255, 255, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
}

.header__logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .header__logo {
    display: none;
  }
}

.header__logo__link {
  text-decoration: none;
  font-size: 1.4375rem;
  font-weight: 700;
  color: #3E3E3E;
}

.header__nav {
  height: 100%;
}

.header__nav__list {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .header__nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
}

@media screen and (min-width: 768px) {
  .header__nav__item:not(:first-child) {
    margin-left: 3.3333333333%;
  }
}

.header__nav__link {
  text-decoration: none;
  color: #3E3E3E;
  display: inline-block;
  padding: 6px 7px;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-bottom 0.3s ease 0s;
  transition: border-bottom 0.3s ease 0s;
}
.header__nav__link:hover {
  border-bottom: 1px solid #3E3E3E;
}

/*===============================
main
===============================*/
.main {
  position: relative;
  z-index: 500;
}

/*===============================
first view
===============================*/
.fv {
  background: transparent url(../images/mv.png) no-repeat center center/cover;
}
@media screen and (max-width: 767.99px) {
  .fv {
    background: transparent url(../images/mv.png) no-repeat 21% center/cover;
  }
}

.fv__contents {
  width: 50%;
  margin-left: auto;
  padding: 228px 0 153px;
}

.fv__heading {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.5;
}

.fv__lead {
  margin-top: 27px;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.5555555556;
}

.fv__btn {
  margin-top: 35px;
}

/*===============================
News
===============================*/
.news {
  margin: 120px auto 0;
}

.news__wrap {
  background-color: #FFF;
  -webkit-box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
          box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
  padding: 60px 60px 40px;
  text-align: center;
}

.news__contents {
  margin-top: 60px;
}

.news__item {
  border-top: 1px solid #CECDCD;
  position: relative;
}
.news__item:last-child {
  border-bottom: 1px solid #CECDCD;
}
.news__item:after {
  content: "";
  display: block;
  width: 11px;
  height: 22px;
  background: transparent url(../images/news-arrow.svg) no-repeat center center/contain;
  position: absolute;
  right: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.news__item__link {
  text-decoration: none;
  color: #3E3E3E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 37px 0;
  min-height: 110px;
}
.news__item__link:hover {
  background-color: rgba(73, 115, 255, 0.1);
}

.news__item__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 259px;
}

.news__item__date {
  font-size: 1.125rem;
  font-weight: 400;
}

.news__item__tag {
  margin-left: 40px;
  width: 121px;
  font-size: 0.875rem;
  border: 2px solid #3B69FF;
  border-radius: 50px;
  padding: 8px 0;
}

.news__item__text {
  width: 100%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  text-align: left;
  padding-left: 40px;
  padding-right: 83px;
}

.news__item__heading {
  font-size: 1.125rem;
  line-height: 1.5555555556;
  letter-spacing: 0.025em;
}

.news__footer {
  margin-top: 40px;
}

/*===============================
Service
===============================*/
.service {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3E3E3E), color-stop(80.808%, #F3F3F3));
  background: linear-gradient(to bottom, #3E3E3E 0 80.808%, #F3F3F3 80.808% 100%);
  margin-top: 120px;
  padding-top: 64px;
}

.service__wrap {
  text-align: center;
}

.service__contents {
  background-color: #FFF;
  -webkit-box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
          box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
  margin: 64px auto 0;
}
@media screen and (min-width: 768px) {
  .service__contents {
    width: 80%;
    max-width: 960px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 60px 0;
  }
}

.service__item {
  width: 23.9583333333%;
  min-width: 160px;
}

.service__item__image {
  width: 64px;
  height: 64px;
  margin: 0 auto;
  padding: 10px 7px;
}
.service__item__image img {
  width: 100%;
  height: auto;
}

.service__item__title {
  display: block;
  margin-top: 6px;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.2em;
}

.service__item__text {
  margin-top: 11px;
  font-size: 0.875rem;
  line-height: 1.7142857143;
  text-align: left;
}

/*===============================
Results
===============================*/
.results {
  margin-top: 120px;
  overflow: hidden;
}

.results__wrap {
  background-color: #3E3E3E;
  padding: 60px 0 60px 60px;
  width: 100vw;
}

.results__contents {
  margin-top: 60px;
}

.results__item {
  width: 400px;
}
.results__item:not(:last-child) {
  margin-right: 40px;
}

.results__item__image {
  width: 100%;
}
.results__item__image img {
  max-width: 100%;
}

.results__item__text {
  background-color: #FFF;
  padding: 16px;
}

.results__item__text__main {
  font-size: 1.125rem;
  font-weight: bold;
}

.results__item__text__sub {
  margin-top: 12px;
  line-height: 1.5;
}

.swiper {
  padding-bottom: 60px;
}

.swiper-pagination {
  text-align: left;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 1px;
  left: -6px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  --swiper-pagination-bullet-horizontal-gap: 10px;
}

.swiper-pagination-bullet {
  --swiper-pagination-bullet-size: 12px;
  --swiper-pagination-bullet-inactive-color: #FFF;
  --swiper-pagination-bullet-inactive-opacity: 1;
  position: relative;
}
.swiper-pagination-bullet::before {
  content: "";
  width: 18px;
  height: 18px;
  background-color: transparent;
  border: 1px solid #FFF;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  opacity: 1;
}

.swiper-pagination-bullet-active {
  --swiper-pagination-bullet-size: 12px;
  --swiper-pagination-color: #FFF;
  --swiper-pagination-bullet-opacity: 1;
}

.results__footer {
  margin-top: 40px;
}