@use "reset";

$color-main: #3f51b5;
$color-sub-1: #e81919;
$color-font-1: #fff;
$color-font-2: #333;
$size-header-hight: 100px;
$breakpoints: (
//キー:値
  'sp':  'screen and (max-width: 767px)', //767px以下（スマホ）用の表示
  'tab': 'screen and (min-width: 768px) and (max-width: 1100px)', //768以上（タブレット・PC）用の表示）
  'pc':  'screen and (min-width: 1101px)' //1101px以上（PC）用の表示
) !default;

//メディアクエリ用のmixinを定義。デフォ値はsp
@mixin mq($breakpoint: sp) {
//map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
  }
}


html {
	font-size: 100%;
}

body {
	color: $color-font-2;
  background: #FFF;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

img {
	max-width: 100%;
  vertical-align: bottom;  /* 画面下の隙間を消す */
}

.container{
  max-width: 1200px;
  margin: auto;
  box-sizing: content-box;
  padding: 0 3%;
}


.flex{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &.flex-md{
    @include mq(sp){
      display: block;
    }
  }
}


/*=================================
header
=================================*/
header{
  background-color: $color-main;
  width: 100vw;
  height: $size-header-hight;
  padding: 30px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.header__logo{
  width: 205px;
  height: auto;
  @include mq(sp){
    margin: auto;
  }
  a{
    width: 100%;
    height: 100%;
  }
}

.header__nav__list{
  height: 100%;
  align-items: center;
}

.header__nav__list__item{
  margin-left: 40px;
  @include mq(sp){
    display: none;
  }
  a{
    padding-bottom: 10px;
    color: $color-font-1;
    text-decoration: none;

    &:hover{
      border-bottom: 2px solid $color-sub-1;
    }
  }
}

.top{
  position: relative;
  margin-top: $size-header-hight;
  img{
    width: 100vw;
    height: 600px;
    object-fit: cover;
  }
}

.top__content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  text-align: center;
}

.top__content__title{
  font-size: 4rem;
  font-weight: bold;
  color: $color-font-2;
  margin-bottom: 32px;
  @include mq(sp){
    font-size: 2.5rem;
  }
}

.top__content__subtitle{
  font-size: 1.5rem;
  font-weight: bold;
  color: $color-font-2;
  margin-bottom: 40px;
  @include mq(sp){
    font-size: 1.125rem;
  }
}

.top__content__button{
  background-color: $color-main;
  border: none;
  border-radius: 8px;
  box-shadow: 0 3px 6px #00000029;
  width: 384px;
  height: 72px;

  &:hover{
    opacity: 0.8;
  }

  @include mq(sp){
    width: 50%;
  }
  a{
    font-size: 1.5rem;
    font-weight: bold;
    color: $color-font-1;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    padding: 24px 0;
    line-height: 1;

    @include mq(sp){
      font-size: 1.125rem;
    }
  }
}

