@charset "UTF-8";
/*================================================================
Chrome/Firefox/Edgeなど、各ブラウザはそれぞれデフォルトで効くCSSを持っています。
何もしないと見え方が微妙に変わるので、デフォルトのCSSをリセットして
ブラウザごとの表示の差異をなくすために書くのが「リセットCSS」です。
================================================================*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

html {
  font-size: 100%;
}

body {
  color: #333;
  background: #FFF;
  font-family: "Hiragino Mincho ProN", "Noto Serif JP", serif;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top; /* img下の隙間を消す */
}

/*===============================
共通クラス
===============================*/
@media screen and (max-width: 767.9px) {
  .is-pc {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}
.inner {
  width: 100%;
  max-width: calc(1200px + 40px *2);
  padding: 0 40px;
  margin: 0 auto;
}
@media screen and (max-width: 767.9px) {
  .inner {
    padding: 0 15px;
  }
}

.section-mt {
  margin-top: 160px;
}
@media screen and (max-width: 767.9px) {
  .section-mt {
    margin-top: 96px;
  }
}

.section__title, .section__title-contact {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 17px;
  position: relative;
}
.section__title::after, .section__title-contact::after {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: #3EA1D1;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.section__footer {
  margin-top: 48px;
}

.btn {
  display: inline-block;
  width: 157px;
  height: 46px;
  line-height: 46px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
}

.more__btn__link {
  display: block;
  margin: 0 auto;
  font-size: 0.875rem;
  font-weight: bold;
  border: 1px solid #3EA1D1;
  color: #3EA1D1;
  background-color: #FFF;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.more__btn__link:hover {
  color: #fff;
  background-color: #3EA1D1;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*===============================
header
===============================*/
.header {
  width: 100%;
  height: 71px;
  background-color: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767.9px) {
  .header {
    height: 60px;
  }
}

.header__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-logo-link {
  display: block;
  width: 100%;
  height: 100%;
}
.site-logo-link img {
  width: 120px;
  height: auto;
}

.header__nav {
  margin-left: auto;
}
@media screen and (max-width: 767.9px) {
  .header__nav {
    top: 60px;
    background-color: #3EA1D1;
    width: 270px;
  }
}

.header__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767.9px) {
  .header__nav__list {
    display: block;
    margin-top: 26px;
  }
}

@media screen and (min-width: 768px) {
  .header__nav__item:not(:first-child) {
    margin-left: 48px;
  }
}

.header__nav__link {
  display: block;
  height: 71px;
  padding: 27px 0;
  text-decoration: none;
  color: #333;
  -webkit-transition: color 0.2s ease 0s;
  transition: color 0.2s ease 0s;
}
@media screen and (max-width: 767.9px) {
  .header__nav__link {
    height: auto;
    font-size: 1.125rem;
    font-weight: bold;
    color: #fff;
    padding: 20px 15px;
    letter-spacing: 0.1em;
    text-align: right;
  }
}
@media screen and (min-width: 768px) {
  .header__nav__link:hover {
    color: #3EA1D1;
  }
}

.drawer-hamburger {
  width: 30px;
  padding: 20px 15px 28px;
}

.drawer-hamburger-icon {
  background-color: #3EA1D1;
}
.drawer-hamburger-icon::before {
  background-color: #3EA1D1;
  top: -8px;
}
.drawer-hamburger-icon::after {
  background-color: #3EA1D1;
  top: 8px;
}

@media screen and (max-width: 767.9px) {
  .drawer--right .drawer-nav {
    right: -105%;
  }
  .drawer--right.drawer-open .drawer-hamburger {
    right: 0;
  }
}
.drawer-overlay {
  background-color: transparent;
}

/*===============================
top
===============================*/
.top {
  margin-top: 71px;
}
@media screen and (max-width: 767.9px) {
  .top {
    margin-top: 60px;
  }
}

.top__contents {
  position: relative;
}

.top__image {
  display: block;
  width: 100%;
  height: 0;
  padding-top: 55%;
  background: transparent url(../images/top.png) no-repeat right/82.5%;
}
@media screen and (max-width: 767.9px) {
  .top__image {
    padding-top: 110.6666666667%;
    background: transparent url(../images/sp/top.png) no-repeat center center/contain;
  }
}

.top__text {
  background-color: #FFF;
}
@media screen and (min-width: 768px) {
  .top__text {
    padding: 83px 44px 88px 0;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
@media screen and (max-width: 767.9px) {
  .top__text {
    padding-top: 31px;
  }
}

.top__text__main {
  font-size: 1.625rem;
  font-weight: bold;
  line-height: 1.6923076923;
}

.top__text__sub {
  margin-top: 14px;
  line-height: 1.6875;
}
@media screen and (max-width: 767.9px) {
  .top__text__sub {
    margin-top: 18px;
  }
}

/*===============================
Concept
===============================*/
.concept__contents {
  margin-top: 64px;
}
@media screen and (min-width: 768px) {
  .concept__contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.concept__image {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .concept__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}
.concept__image img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .concept__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding-left: 80px;
  }
}
@media screen and (max-width: 767.9px) {
  .concept__text {
    margin-top: 33px;
  }
}

.contact__text__main {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.7;
}

.contact__text__sub {
  margin-top: 36px;
  line-height: 1.6875;
}
@media screen and (max-width: 767.9px) {
  .contact__text__sub {
    margin-top: 24px;
  }
}

/*===============================
Feature
===============================*/
@media screen and (min-width: 768px) {
  .feature__list {
    margin-top: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 767.9px) {
  .feature__list {
    margin-top: 48px;
  }
}

.feature__item {
  -webkit-box-shadow: 3px 3px 15px rgba(96, 96, 96, 0.16);
          box-shadow: 3px 3px 15px rgba(96, 96, 96, 0.16);
}
@media screen and (min-width: 768px) {
  .feature__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 28.3333333333%;
            flex: 0 1 28.3333333333%;
  }
  .feature__item:not(:first-child) {
    margin-left: 7.5%;
  }
}
@media screen and (max-width: 767.9px) {
  .feature__item {
    margin: 49px auto 0;
    width: 100%;
    max-width: 340px;
  }
}

.feature__item__link {
  display: block;
  width: 100%;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .feature__item__link:hover .feature__item__image img {
    -webkit-transform: scale(1.05, 1.05);
            transform: scale(1.05, 1.05);
  }
}

.feature__item__image {
  width: 100%;
  overflow: hidden;
}
.feature__item__image img {
  width: 100%;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.feature__item__text {
  background-color: #FFF;
  padding: 26.5px 0;
}

.feature__item__text__main {
  font-weight: bold;
  color: #333;
  line-height: 1.6875;
  text-align: center;
}

/*===============================
About
===============================*/
.about {
  width: 100%;
  position: relative;
  z-index: 100;
}
@media screen and (min-width: 768px) {
  .about {
    background: transparent url(../images/bg.png) no-repeat center center/cover;
    height: 478px;
  }
}
@media screen and (max-width: 767.9px) {
  .about {
    background: transparent url(../images/sp/bg.png) no-repeat center center/cover;
    height: 484px;
  }
}

.about__overlay {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.12);
  border: 1px solid rgba(112, 112, 112, 0.12);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.about__text {
  color: #fff;
  position: absolute;
  z-index: 20;
}
@media screen and (min-width: 768px) {
  .about__text {
    left: 0px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    padding: 0 40px;
  }
}
@media screen and (max-width: 767.9px) {
  .about__text {
    left: 0px;
    top: 175px;
    padding: 0 15px;
  }
}

.about__text__main {
  font-size: 1.375rem;
  font-weight: bold;
  line-height: 1.6818181818;
}
@media screen and (max-width: 767.9px) {
  .about__text__main {
    font-size: 1.25rem;
    line-height: 1.7;
  }
}

.about__text__sub {
  margin-top: 27px;
  font-weight: bold;
  line-height: 1.6875;
}
@media screen and (max-width: 767.9px) {
  .about__text__sub {
    margin-top: 20px;
    font-size: 0.875rem;
    line-height: 1.7142857143;
  }
}

/*===============================
product
===============================*/
.products {
  margin-top: 164px;
}

.products__inner {
  max-width: 1020px;
}

@media screen and (min-width: 768px) {
  .products__list {
    margin-top: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .products__item {
    width: 27.6595744681%;
  }
  .products__item:not(:first-child) {
    margin-left: 8.5106382979%;
  }
}
@media screen and (max-width: 767.9px) {
  .products__item {
    width: 75.3623188406%;
    max-width: 340px;
    margin: 48px auto 0;
  }
}

.products__item__link {
  display: block;
  width: 100%;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .products__item__link:hover .products__item__image img {
    -webkit-transform: scale(1.05, 1.05);
            transform: scale(1.05, 1.05);
  }
}

.products__item__image {
  width: 100%;
  overflow: hidden;
}
.products__item__image img {
  width: 100%;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.products__item__text {
  padding-top: 19px;
  background-color: #FFF;
}

.products__item__name {
  display: block;
  font-size: 0.875rem;
  color: #333;
  line-height: 1.9;
}

.products__item__price {
  display: block;
  margin-top: 9px;
  font-size: 0.875rem;
  color: #989898;
}

/*===============================
News
===============================*/
.news__inner {
  max-width: 1120px;
}

.news__list {
  margin-top: 50px;
}

.news__item {
  padding-bottom: 24px;
  border-bottom: 1px solid #E0E0E0;
}
.news__item:not(:first-child) {
  margin-top: 23px;
}
@media screen and (max-width: 767.9px) {
  .news__item {
    width: 89.8550724638%;
    margin: 0 auto;
  }
}

.news__item__link {
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .news__item__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news__item__link:hover .news__item__image__box > img {
    -webkit-transform: translate(-50%, -50%) scale(1.05, 1.05);
            transform: translate(-50%, -50%) scale(1.05, 1.05);
  }
}

@media screen and (min-width: 768px) {
  .news__item__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 260px;
            flex: 0 0 260px;
  }
}
@media screen and (max-width: 767.9px) {
  .news__item__image {
    width: 100%;
  }
}

.news__item__image__box {
  padding-top: 61.5384615385%;
  overflow: hidden;
  position: relative;
}
.news__item__image__box > img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.news__item__text {
  color: #333;
}
@media screen and (min-width: 768px) {
  .news__item__text {
    width: calc(100% - 260px);
    padding-left: 40px;
    word-wrap: break-word;
  }
}
@media screen and (max-width: 767.9px) {
  .news__item__text {
    width: 100%;
    margin-top: 24px;
  }
}

.news__item__time {
  font-size: 0.875rem;
}

.news__item__title {
  margin-top: 10px;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.7222222222;
}

.news__item__detail {
  margin-top: 13px;
  font-size: 0.875rem;
  color: #888888;
  line-height: 1.7142857143;
}

/*===============================
about2
===============================*/
@media screen and (min-width: 768px) {
  .about2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .about2__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}
.about2__image img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .about2__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding-right: 6.6666666667%;
    margin-top: -5px;
  }
}
@media screen and (max-width: 767.9px) {
  .about2__text {
    margin-top: 33px;
  }
}

.about2__text__main {
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 1.7142857143;
}
@media screen and (max-width: 767.9px) {
  .about2__text__main {
    font-size: 1.25rem;
    line-height: 1.7;
  }
}

.about2__text__sub {
  margin-top: 20px;
  line-height: 1.6875;
}
@media screen and (max-width: 767.9px) {
  .about2__text__sub {
    font-size: 0.875rem;
    line-height: 1.7142857143;
  }
}

/*===============================
Contact
===============================*/
.contact {
  margin-top: 225px;
  background: transparent url(../images/contact.png) no-repeat center center/cover;
  padding: 70px 0 82px;
}
@media screen and (max-width: 767.9px) {
  .contact {
    margin-top: 96px;
    padding: 57px 0;
  }
}

.contact__inner {
  max-width: 590px;
}

.section__title-contact {
  color: #3EA1D1;
}

.contact__form {
  margin-top: 56px;
}
@media screen and (max-width: 767.9px) {
  .contact__form {
    margin-top: 33px;
    width: 92.7536231884%;
  }
}

.contact__form__text {
  font-size: 0.875rem;
  line-height: 1.7142857143;
  text-align: center;
}
.contact__form__text > span {
  font-size: 1rem;
  color: #E7728E;
  line-height: 1.6875;
  letter-spacing: 0.1em;
}

.contact__form__list {
  margin-top: 18px;
}
@media screen and (max-width: 767.9px) {
  .contact__form__list {
    margin-top: 26px;
  }
}

.contact__form__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .contact__form__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact__form__item > dt {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 190px;
            flex: 0 0 190px;
  }
  .contact__form__item > dd {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.contact__form__item:not(:first-child) {
  margin-top: 32px;
}

.contact__form__label {
  height: 40px;
  line-height: 40px;
  background-color: rgba(62, 161, 209, 0.7);
  text-align: center;
}
@media screen and (min-width: 768px) {
  .contact__form__label {
    display: block;
    margin-right: 16px;
    width: calc(100% - 16px);
    position: relative;
  }
  .contact__form__label:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 6px;
    border-color: transparent transparent transparent rgba(62, 161, 209, 0.7);
    position: absolute;
    top: 0;
    right: -6px;
  }
}
@media screen and (max-width: 767.9px) {
  .contact__form__label {
    display: inline-block;
    padding: 0 26px 0 15px;
  }
}
.contact__form__label > span {
  font-weight: bold;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .contact__form__label > span {
    font-size: 1.125rem;
    margin-left: -8px;
  }
}
@media screen and (max-width: 767.9px) {
  .contact__form__label > span {
    font-size: 0.875rem;
  }
}
.contact__form__label.contact__form__required > span {
  position: relative;
}
.contact__form__label.contact__form__required > span::after {
  content: "＊";
  font-size: 0.75em;
  color: #E7728E;
  line-height: 1;
  position: absolute;
  top: -3px;
  right: -1em;
}
@media screen and (max-width: 767.9px) {
  .contact__form__label.contact__form__required > span::after {
    font-size: 0.625rem;
  }
}

.contact__form__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border-radius: 2px;
  -webkit-box-shadow: 5px 5px 16px rgba(96, 96, 96, 0.16);
          box-shadow: 5px 5px 16px rgba(96, 96, 96, 0.16);
}
.contact__form__input[type=text], .contact__form__input[type=email] {
  display: block;
  width: 100%;
  height: 40px;
  font-size: 1.125rem;
  color: #333;
  letter-spacing: 0.05em;
  padding: 0 0.5em;
}
@media screen and (max-width: 767.9px) {
  .contact__form__input[type=text], .contact__form__input[type=email] {
    margin-top: 3px;
    font-size: 0.875rem;
  }
}
.contact__form__input[type=radio] + span {
  border-radius: 1px;
  display: inline-block;
  width: 80px;
  height: 40px;
  line-height: 40px;
  background-color: #FFF;
  border: 1px solid #FFF;
  font-size: 1rem;
  color: #3EA1D1;
  text-align: center;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.contact__form__input[type=radio]:checked + span {
  background-color: #3EA1D1;
  color: #fff;
}
.contact__form__input[type=radio]:focus-visible + span {
  outline: -webkit-focus-ring-color auto 1px;
}
.contact__form__input[type=checkbox] + span {
  display: inline-block; /* 文章が折り返したときpaddingに重ならないようにする */
  color: #333;
  line-height: 1.6875;
  padding-left: 30px;
  position: relative;
}
.contact__form__input[type=checkbox] + span::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #3EA1D1;
  background-color: #FFF;
  position: absolute;
  top: 2px;
  left: 0;
  -webkit-transition: width 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
  transition: width 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
  transition: width 0.2s ease 0s, transform 0.2s ease 0s;
  transition: width 0.2s ease 0s, transform 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
}
.contact__form__input[type=checkbox]:checked + span::before {
  width: 10px;
  background-color: transparent;
  border-top: none;
  border-left: none;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  left: 5px;
}
.contact__form__input[type=checkbox]:focus-visible + span::before {
  outline: -webkit-focus-ring-color auto 1px;
}
.contact__form__input[type=checkbox]:checked:focus-visible + span::before {
  outline: none;
}

.contact__form__flex__radio {
  font-size: 0; /* inline-block間の隙間を消す */
}
@media screen and (max-width: 767.9px) {
  .contact__form__flex__radio {
    margin-top: 3px;
  }
}

.contact__form__textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border-radius: 2px;
  -webkit-box-shadow: 5px 5px 16px rgba(96, 96, 96, 0.16);
          box-shadow: 5px 5px 16px rgba(96, 96, 96, 0.16);
  resize: vertical;
  display: block;
  width: 100%;
  min-height: 122px;
  font-size: 1.125rem;
  color: #333;
  letter-spacing: 0.05em;
  padding: 4px 0.5em;
}
@media screen and (max-width: 767.9px) {
  .contact__form__textarea {
    margin-top: 3px;
    font-size: 0.875rem;
  }
}

.contact__form__privacy-policy__wrapper {
  text-align: center;
  margin-top: 31px;
}
@media screen and (max-width: 767.9px) {
  .contact__form__privacy-policy__wrapper {
    margin-top: 20px;
  }
}

.contact__form__privacy-policy {
  display: inline-block;
}

.privacy-policy__link {
  color: #3EA1D1;
  line-height: 1.6875;
}

.contact__form__submit {
  display: block;
  margin: 46px auto 0;
  width: 137px;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  border: 1px solid #3EA1D1;
  color: #3EA1D1;
  background-color: #FFF;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media screen and (max-width: 767.9px) {
  .contact__form__submit {
    margin: 29px auto 0;
  }
}
.contact__form__submit.is-active {
  color: #fff;
  background-color: #3EA1D1;
}

/*===============================
footer
===============================*/
.footer {
  padding: 48px 0 17px;
  background-color: #F7F7F7;
  text-align: center;
}

.footer__logo__link {
  display: block;
  width: 100%;
  height: 100%;
}
.footer__logo__link img {
  width: 120px;
  height: auto;
}

.footer__nav {
  margin-top: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__nav__item:not(:first-child) {
  margin-left: 32px;
}

.footer__nav__link {
  font-size: 0.75em;
  color: #333;
  text-decoration: none;
  padding: 10px 0;
}
.footer__nav__link:hover {
  opacity: 0.7;
}

.footer__sns__list {
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__sns__icon:not(:first-child) {
  margin-left: 18px;
}

.sns__link {
  font-size: 1.3rem;
  color: #3EA1D1;
  text-decoration: none;
  padding: 11px;
}
.sns__link:hover {
  opacity: 0.7;
}

.footer__copyright {
  margin-top: 22px;
}

.footer__copyright__text {
  font-size: 0.75rem;
  color: #888888;
}