@charset "UTF-8";
html {
  font-size: 100%;
}

body {
  color: #000;
  background: #FFF;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top; /* 画面下の隙間を消す */
}

.container {
  max-width: 475px;
  margin: 50px auto;
}
@media screen and (max-width: 767px) {
  .container {
    padding: 0 15px;
  }
}

/* button 共通 */
.btn {
  width: 230px;
  height: 50px;
  background-color: #3F51B5;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  line-height: 1.1875;
  text-align: left;
  padding-left: 16px;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto 30px;
  cursor: pointer;
}

/* button 1 透明に近づける*/
.btn-pattern1 {
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
.btn-pattern1:hover {
  opacity: 0.7;
}

/* button 2 色が反転 */
.btn-pattern2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 12px;
  border: 3px solid #3F51B5;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.btn-pattern2:hover {
  background-color: #FFF;
  color: #3F51B5;
}

/* 浮き上がって影 */
.btn-pattern2-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 12px;
  -webkit-box-shadow: 0 0 6px #ffb4b4;
          box-shadow: 0 0 6px #ffb4b4;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.btn-pattern2-a::after {
  content: "▶";
  display: block;
}
.btn-pattern2-a:hover {
  -webkit-box-shadow: 0 6px 6px #f45151;
          box-shadow: 0 6px 6px #f45151;
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

/* Y軸で回転 */
.btn-pattern2-a2 {
  position: relative;
  padding-right: 12px;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
.btn-pattern2-a2::after {
  content: "▶";
  display: block;
  position: absolute;
  top: 18px;
  right: 12px;
}
.btn-pattern2-a2:hover {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

/* 時計回りに回転 */
.btn-pattern2-img {
  position: relative;
  -webkit-transition: all 1s linear 0s;
  transition: all 1s linear 0s;
}
.btn-pattern2-img::after {
  content: "";
  position: absolute;
  top: 50%; /* traosformとセットで中央寄せ */
  right: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); /* topとセットで中央寄せ */
  width: 14px;
  height: 14px;
  background: transparent url(../image/arrow.svg);
}
.btn-pattern2-img:hover {
  -webkit-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
}

/* button 3 画像が拡大 */
.btn-pattern3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.btn-pattern3:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

/* 色を変える */
.btn-pattern3-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
.btn-pattern3-a::after {
  content: "▶";
  display: block;
}
.btn-pattern3-a:hover {
  color: #fe8a8a;
}

/* アンダーラインが登場 */
.btn-pattern3-a2 { /* ボタンの文章が変わると,▶の位置調整が必要になる */
  position: relative;
  padding-right: 12px;
}
.btn-pattern3-a2::before {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #FFF;
  position: absolute;
  bottom: 5px;
  left: 16px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.btn-pattern3-a2::after {
  content: "▶";
  display: block;
  position: absolute;
  top: 18px;
  right: 73px;
}
.btn-pattern3-a2:hover::before {
  width: 150px;
}

/* 一瞬拡大 */
.btn-pattern3-img {
  position: relative;
}
.btn-pattern3-img::after {
  content: "";
  position: absolute;
  top: 50%; /* traosformとセットで中央寄せ */
  right: 73px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); /* topとセットで中央寄せ */
  width: 14px;
  height: 14px;
  background: transparent url(../image/arrow.svg);
}
.btn-pattern3-img:hover {
  -webkit-animation: zoom 0.3s;
          animation: zoom 0.3s;
}

@-webkit-keyframes zoom {
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@keyframes zoom {
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}
/* button4 凹むボタン */
.btn-pattern4 {
  padding-left: 25px;
  -webkit-box-shadow: 0 5px 0 #25379B;
          box-shadow: 0 5px 0 #25379B;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.btn-pattern4:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

/* button5 文字にモザイク*/
.btn-pattern5 {
  padding-left: 25px;
  background: -webkit-gradient(linear, left top, left bottom, from(#3F51B5), to(#20295B));
  background: linear-gradient(#3F51B5, #20295B);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.btn-pattern5:hover {
  color: transparent;
  text-shadow: 0 0 5px #FFF;
}

/* button6 */
.row {
  height: 104px;
  width: 100%;
  background: #333333;
  border: 1px solid #707070;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

/* 文字を抜いてシャドウをかける */
.btn-pattern6 {
  padding-left: 25px;
  background-color: #333333;
  border: 2px solid #FFFFFF;
  border-radius: 0;
  margin: auto;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.btn-pattern6:hover {
  color: #333333;
  text-shadow: -1px 1px 5px #FFF, 1px -1px 5px #FFF;
}

/* button7 */
.btn-pattern7 {
  width: 123px;
  height: 123px;
  text-align: center;
  line-height: 1.1875;
  padding: 0;
  border-radius: 50%;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
.btn-pattern7:hover {
  -webkit-transform: rotateX(360deg);
          transform: rotateX(360deg);
}

/* button8 */
.btn8r {
  border-radius: 115px;
}

/* button9 */
.btn-pattern9 {
  padding-left: 25px;
  border-radius: 0;
  position: relative;
}
.btn-pattern9::after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background-color: #25379B;
  position: absolute;
  bottom: 0;
  right: 0;
}

.hover9 {
  display: inline-block;
  position: relative;
  text-decoration: none;
  margin-bottom: 50px;
}

.hover9::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #2196F3;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.hover9:hover {
  cursor: pointer;
}

.hover9:hover::after {
  width: 100%;
}