@use "reset";

@use "config" as *;
@use "mixin" as *;

html {
	font-size: 100%;
}

body {
	color: $color-main;
  background: $color-bg;
  font-family: $font-family;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  font-weight: $font-wight-medium;  //ベースはmedium(500)とする(游ゴシック＋windows対策)
}

img {
	max-width: 100%;
  height: auto;
  vertical-align: top;  /* img下の隙間を消す */
}

/*===============================
共通クラス
===============================*/
@include mq(sp){
	.is-pc{
    display: none;
  }
}

@include mq(pc){
	.is-sp{
    display: none;
  }
}

.inner{
  height:inherit;
  width:100%;
  max-width: $width-max1;
  padding: 0 40px;
  box-sizing: content-box;
}

/*===============================
Header
===============================*/
.header{
  width: 100%;
  height: $height-header-pc;
  background-color: $color-header-pc;
  position: fixed;
  top: 0;
  left: 0;
}

.header__nav{
  height: 100%;
}

.header__nav__list{
  text-align: center;
  @include mq(pc){
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.header__nav__item{
  @include mq(pc){
    &:not(:first-child){
      margin-left: 40px;
    }
  }
}

.header__nav__link{
  text-decoration: none;
  color: $color-main;
  display: inline-block;
  padding: 6px 7px;
  transition: border-bottom 0.2s ease 0s;
  &:hover{
    border-bottom: 1px solid $color-main;
  }
}



//↓暫定のスタイル　後で消す
.swiper {
  width: 600px;
  height: 700px;
}
