@use "reset";

@use "config" as *;
@use "mixin" as *;

html {
	font-size: 100%;
}

body {
	color: $color-main;
  background: $color-bg;
  font-family: $font-family;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  font-weight: $font-wight-medium;  //ベースはmedium(500)とする(游ゴシック＋windows対策)
}

img {
	max-width: 100%;
  height: auto;
  vertical-align: top;  /* img下の隙間を消す */
}

/*===============================
共通クラス
===============================*/
.is-pc{
  @include mq(not-pc){
    display: none !important;
  }
}

.is-sp{
  @include mq(not-sp){
    display: none !important;
  }
}

.not-pc{
  @include mq(pc){
    display: none !important;
  }
}
.not-sp{
  @include mq(sp){
    display: none !important;
  }
}


.inner{
  height:inherit;
  width:100%;
  max-width: calc($width-max-1 + 40px * 2);
  padding: 0 40px;
  margin: 0 auto;
  @include mq(sp){
    padding: 0 16px;
  }
}

.btn{
  display: inline-block;
  text-decoration: none;
  appearance: none;
	border: none;
	border-radius: 0;
	cursor: pointer;
}

.btn__cv{
  font-size: 1.125rem;
  font-weight: $font-wight-medium;
  color: $color-font-light;
  line-height: 1;
  letter-spacing: 0.025em;
  background-color: $color-btn-cv-normal;
  box-shadow: 0 3px 5px $color-shadow-1;
  padding: 17px 50px 15px;
  border-radius: 10px;
  transition: background-color 0.3s ease 0s;
  max-width: 100%;
  &:hover{
    background-color: $color-btn-cv-hover;
  }
  &:disabled{
    background-color: $color-btn-cv-disable;
    cursor:auto;
  }
}

.btn__general{
  font-size: 1.25rem;
  font-weight: $font-wight-semibold;
  color: $color-main;
  letter-spacing: 0.2em;
  padding: 21px 75px 21px 79px;
  @include mq(sp){
    font-size: 1.125em;
    padding: 16px 0;
  }

  &.btn__general__light{
    color: $color-main;
    background-color: $color-btn-general-bg-1;
    border: 1px solid $color-btn-general-border-1;
    transition: all 0.3s ease 0s;
    &:hover{
      color: $color-font-light;
      background-color: $color-btn-general-bg-2;
      border: 1px solid $color-btn-general-border-2;
    }
  }

  &.btn__general__dark{
    color: $color-font-light;
    background-color: $color-btn-general-bg-2;
    border: 1px solid $color-btn-general-border-2;
    transition: all 0.3s ease 0s;
    &:hover{
      color: $color-main;
      background-color: $color-btn-general-bg-1;
      border: 1px solid $color-btn-general-border-1;
    }
  }
}

.section__title{
  font-size: 2.25rem;
  font-weight: $font-wight-semibold;
  color: $color-font-dark;
  word-wrap: break-word;
  @include mq(sp){
    font-size: 1.875rem;
  }
  &.section__title-center{
    text-align: center;
  }
}

.section__title-light{
  @extend .section__title;
  color: $color-font-light;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visually-hidden-label{
  position: relative;
}

/*===============================
Header
===============================*/
.header{
  width: 100%;
  height: $height-header-pc;
  background-color: $color-header-pc;
  position: fixed;
  top: 0;
  left: 0;
  z-index: map-get($layer, header);
  @include mq(sp){
    height: $height-header-sp;
  }
}

.header__logo{
  height: 100%;
  display: flex;
  align-items: center;
  @include mq(pc){
    display: none;
  }
}

.header__logo__link{
  text-decoration: none;
  font-size: 1.4375rem;
  font-weight: $font-wight-bold;
  color: $color-main;

}

.header__nav{
  @include mq(pc){
    height: 100%;
  }
  @include mq(not-pc){
    width: 80%;
    max-width: 300px;
  }
}

.header__nav__list{
  text-align: center;
  @include mq(pc){
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  @include mq(not-pc){
    margin-top: 147px;
  }
}

.header__nav__item{
  &:not(:first-child){
    @include mq(pc){
      margin-left: calc(26px / $width-max-1 * 100%);
    }
    @include mq(not-pc){
      margin-top: 13px;
    }
  }
}

.header__nav__link{
  text-decoration: none;
  font-size: 1rem;
  color: $color-main;
  letter-spacing: -0.025em;
  display: inline-block;
  padding: 6px 7px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s ease 0s;
  @include mq(not-pc){
    font-size: 1.125rem;
    letter-spacing: 0;
    padding: 16px 7px 6px;
  }
  &:hover{
    border-bottom: 1px solid $color-main;
  }
}

@include mq(not-pc){
  .drawer-hamburger{
    width: 26px;
    padding: 27px 16px
  }

  .drawer--right.drawer-open .drawer-hamburger{
    right: 80%;
    @media screen and (min-width: 375px) {
      right: 297px;
    }
  }
  .drawer-hamburger-icon{
    margin-top: 5px;
  }
  .drawer-hamburger-icon,
  .drawer-hamburger-icon::after,
  .drawer-hamburger-icon::before{
    height: 4px;
    border-radius: 4px;
    background-color: $color-main;
  }

  .drawer-hamburger-icon::before{
    top: -8px;
  }

  .drawer-hamburger-icon::after{
    top: 8px;
  }

  .drawer-open .drawer-hamburger-icon:before,
  .drawer-open .drawer-hamburger-icon:after{
    background-color: $color-bg-2;
  }
}

@include mq(not-pc){
  .drawer--right .drawer-nav{
    right: calc(-100% - 5px);
    color: $color-main;
  }
}

.drawer-menu-item:hover{
  text-decoration: none;
  color: inherit;
}

.drawer-overlay {
  background-color: $color-main;
  opacity: 0.7;
}

/*===============================
main
===============================*/
.main{
  position: relative;
  z-index: map-get($layer, main);
}

/*===============================
first view
===============================*/
.fv{
  background: transparent url(../images/mv.png) no-repeat center center  / cover;
  @include mq(sp){
    background: transparent url(../images/mv.png) no-repeat 22% center  / cover;
  }

  @include mq(not-pc){
    transition: transform .6s cubic-bezier(.19,1,.22,1);
    .drawer-open &{
      transform: translateX(-80%);
      @media screen and (min-width: 375px) {
        transform: translateX(-300px);
      }
    }
  }
}

.fv__contents{
  width: 50%;
  margin-left: auto;
  padding: 229px 0 153px;
  @include mq(sp){
    width: 100%;
    padding: 229px 0 230px;
  }
}


.fv__heading{
  font-size: 2rem;
  font-weight: bold;
  line-height: calc(48 / 32);
  @include mq(not-pc){
    font-size: 1.5rem;
    line-height: calc(40 / 24);
  }
}

.fv__lead{
  margin-top: 27px;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: calc(28 / 18);
  letter-spacing: 0.025em;
  @include mq(not-pc){
    margin-top: 29px;
    font-size: 0.875rem;
    line-height: calc(20 / 14);
  }
}

.fv__btn{
  margin-top: 37px;
  @include mq(sp){
    margin-top: 27px;
  }
}

/*===============================
News
===============================*/
.news{
  margin: 120px auto 0;
  @include mq(sp){
    margin: -40px auto 0;
  }
  @include mq(tab){
    margin: 60px auto 0;
  }
}
.news__wrap{
  background-color: $color-bg-2;
  box-shadow: 0 5px 12px $color-shadow-1;
  padding: 64px 60px 40px;
  @include mq(sp){
    padding: 40px 16px 40px;
  }
  @include mq(tab){
    padding: 40px 40px 40px;
  }
}

.news__contents{
  margin-top: 63px;
  @include mq(not-pc){
    margin-top: 40px;
  }
}

.news__item{
  border-top: 1px solid $color-news-border;
  position: relative;
  &:last-child{
    border-bottom: 1px solid $color-news-border;
  }
  &:after{
    content: "";
    display: block;
    width: 14px;
    height: 24px;
    background: transparent url(../images/news-arrow.svg) no-repeat center center / contain;
    pointer-events:none;
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.news__item__link{
  text-decoration: none;
  color: $color-font-dark;
  display: flex;
  align-items: center;
  padding: 37px 0;
  min-height: 109px;
  @include mq(not-pc){
    display: block;
    padding: 16px 0 11px;
    min-height: 0;
  }
  &:hover{
    background-color: $color-news-hover;
  }
}

.news__item__meta{
  display: flex;
  flex-shrink: 0;
  align-items: center;
  width: 260px;
  @include mq(not-pc){
    width: 100%;
  }
}

.news__item__date{
  font-size: 1.125rem;
  font-weight: $font-wight-regular;
  letter-spacing: 0.025em;
  @include mq(sp){
    font-size: 0.875rem;
  }
}
.news__item__tag{
  margin-left: 40px;
  width: 120px;
  font-size: 0.875rem;
  border: 2px solid $color-news-tag;
  border-radius: 50px;
  padding: 6px 0;
  text-align: center;
  @include mq(sp){
    margin-left: 16px;
    width: 81px;
    font-size: 0.75rem;
    padding: 2px 0;
  }
}

.news__item__text{
  width: 100%;
  flex-shrink: 1;
  padding-left: 40px;
  padding-right: 83px;
  @include mq(not-pc){
    padding-left: 0;
    padding-right: 39px;
    margin-top: 7px;
  }
}

.news__item__heading{
  display: block;
  margin-top: 1px;
  font-size: 1.125rem;
  line-height: calc(28 / 18);
  letter-spacing: 0.025em;
  @include mq(sp){
    font-size: 0.875rem;
    line-height: calc(20 / 14);
    letter-spacing: 0;
  }
}

.news__footer{
  margin-top: 39px;
  text-align: center;
}

/*===============================
Service
===============================*/
.service{
  background: linear-gradient(to bottom,  $color-main 0 80.8080%,$color-bg 80.8080% 100%);
  margin-top: 120px;
  padding-top: 64px;
  @include mq(not-pc){
    margin-top: 60px;
    padding-top: 40px;
  }
  @include mq(sp){
    background: linear-gradient(to bottom,  $color-main 0 59.1861%,$color-bg 59.1861% 100%);
  };
}

.service__wrap{
}

.service__contents{
  background-color: $color-bg-2;
  box-shadow: 0 5px 12px $color-shadow-1;
  margin: 64px auto 0;
  width: calc($width-max-2 / $width-max-1 * 100%);
  max-width: $width-max-2;
  display: flex;
  justify-content: space-around;;
  padding: 60px 0;
  @include mq(tab){
    margin: 40px auto 0;
    width: calc(($width-max-2 + 100px) / $width-max-1 * 100%);
    padding: 40px 0;
  }
  @include mq(sp){
    margin: 40px auto 0;
    width: 100%;
    padding: 40px 16px;
    display: block;
  }
}

.service__item{
  width: calc(230px / $width-max-2 * 100%);
  min-width: 160px;
  @include mq(sp){
    width: 100%;
    min-width: 0;
    &:not(:first-child){
      margin-top: 56px;
    }
  }
}

.service__item__image{
  width: 64px;
  height: 65px;
  margin: 0 auto;
  padding: 10px 7px;
  display: flex;
  align-items: center;
  img{
    width: 100%;
    height: auto;
  }
}

.service__item__title{
  display: block;
  margin-top: 5px;
  margin-left: 4px;
  font-size: 1.25rem;
  font-weight: $font-wight-semibold;
  line-height: calc(28 / 20);
  letter-spacing: 0.2em;
  text-align: center;
  word-wrap: break-word;
}

.service__item__text{
  margin-top: 13px;
  font-size: 0.875rem;
  line-height: calc(24 / 14);
}

/*===============================
Results
===============================*/
.results{
  margin-top: 120px;
  overflow: hidden;
  @include mq(not-pc){
    margin-top: 60px;
  }
  @include mq(sp){
    background-color: $color-main;
  }
}

.results__wrap{
  background-color: $color-main;
  padding: 64px 0 60px 60px;
  width: 100vw;
  @include mq(tab){
    padding: 40px 0 40px 40px;
  }
  @include mq(sp){
    padding: 40px 0;
  }
}

.results__contents{
  margin-top: 64px;
  @include mq(not-pc){
    margin-top: 40px;
  }
}


.results__list{

}

.results__item{
  width: 400px;
  &:not(:last-child){
    margin-right: 40px;
  }
  @include mq(not-pc){
    width: 274px;
    &:not(:last-child){
      margin-right: 20px;
    }
  }
}

.results__item__image{
  width: 100%;
  img{
    max-width: 100%;
  }
}

.results__item__text{
  background-color: $color-bg-2;
  padding: 17px 16px 19px;
  @include mq(sp){
    padding: 12px;
  }
}

.results__item__text__main{
  font-size: 1.25rem;
  font-weight: bold;
  @include mq(tab){
    font-size: 1rem;
  }
  @include mq(sp){
    font-size: 0.875rem;
    letter-spacing: 0.0007em;
  }
}

.results__item__text__sub{
  margin-top: 12px;
  line-height: calc(24 / 16);
  @include mq(tab){
    font-size: 0.875rem;
    line-height: calc(20 / 14);
  }
  @include mq(sp){
    font-size: 0.75rem;;
    line-height: calc(18 /12);
    letter-spacing: 0.0008em;
  }
}

.swiper{
  padding-bottom: 60px;
  @include mq(sp){
    padding-bottom: 44px;
  }
}

.swiper-pagination{
  text-align: left;
  @include mq(sp){
    text-align: center;
  }
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 1px;
  left: -6px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, 
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  --swiper-pagination-bullet-horizontal-gap: 10px;
}

.swiper-pagination-bullet {
  --swiper-pagination-bullet-size: 12px;
  --swiper-pagination-bullet-inactive-color: #FFF;
  --swiper-pagination-bullet-inactive-opacity: 1;

  position: relative;
  &::before{
    content: "";
    width: 18px;
    height: 18px;
    background-color: transparent;
    border: 1px solid #FFF;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease 0s;
    opacity:0;
  }
  &.swiper-pagination-bullet-active::before{
    opacity:1;
  }

}

.swiper-pagination-bullet-active{
  --swiper-pagination-bullet-size: 12px;
  --swiper-pagination-color: #FFF;
  --swiper-pagination-bullet-opacity: 1;
}


.results__footer{
  margin-top: 40px;
  @include mq(sp){
    width: calc(100% - 16px);
    margin: 24px auto 0;
    text-align: center;
  }
}

.results__btn{
  @include mq(sp){
    width: 316px;
    max-width: 100%;
  }
}


/*===============================
Price
===============================*/
.price{
  margin-top: 124px;
  width: 100%;
  max-width: calc($width-max-2 + 40px * 2);
  overflow: scroll;
  @include mq(not-pc){
    margin-top: 40px;
    width: calc(($width-max-2 + 110px) / $width-max-1 * 100%);
  }
}

.price__table{
  margin: 64px auto 0;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  min-width: 280px;
  white-space: nowrap;
  @include mq(not-pc){
    margin: 40px auto 0;
  }
}

.price__table__row{
  height: 60px;
  width: 100%;

}

.price__table__head{
  width: 261px;
  font-size: 1.5rem;
  font-weight: $font-wight-semibold;
  color: $color-font-light;
  text-align: center;
  background-color: $color-main;
  vertical-align: middle;
  border-style: solid;
  border-width: 1px;
  border-color: $color-main $color-main $color-price-th-border;
  @include mq(sp){
    width: 99px;
    font-size: 1.25rem;
  }

  .price__table__row:last-child > &{
    border-color: $color-main;

  }
}

.price__table__data{
  width: calc(100% - 261px);
  font-size: 1.5rem;
  font-weight: $font-wight-semibold;
  color: $color-main;
  background-color: $color-bg-2;
  vertical-align: middle;
  padding: 0 40px;
  border-style: solid;
  border-width: 1px;
  border-color: $color-price-td-border $color-price-td-border $color-price-td-border;
  @include mq(sp){
    width: calc(100% - 99px);
    min-width: 180px;
    font-size: 1.25rem;
    padding: 0 20px;
  }
}

.price__text{
font-size: 0.75rem;
margin-top: 13px;
  @include mq(sp){
    margin-top: 8px;
  }
}

/*===============================
Comments
===============================*/
.comments{
  margin-top: 119px;
  padding-bottom: 120px;
  background:
  linear-gradient(to right, transparent 0 76.5625%, $color-bg 76.5625% 100vw),
  linear-gradient(to bottom, $color-bg 0 20.442%, $color-main 20.442% 100%);
  display: flex;
  align-items: center;
  position: relative;
  @include mq(not-pc){
    margin-top: 60px;
    padding-bottom: 60px;
    background: linear-gradient(to bottom, $color-bg 0 12.3711%, $color-main 12.3711% 100% );
  }
  &::before{
    content: "";
    display: block;
    width: 100vw;
    height: 100%;
    background: linear-gradient(to bottom, $color-bg 0 20.442%, $color-main 20.442% 100%);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    @include mq(not-pc){
      display: none;
    }
  }
}

.comments__contents{
  width: calc(666px / 1200px * 100%);
  padding: calc(10% + 4px) 60px calc(10% - 1px);
  background-color: $color-bg-2;
  box-shadow: 0 0 10px $color-shadow-1;
  @include mq(tab){
    width: 100%;
    padding: 40px 40px;
  }
  @include mq(sp){
    width: 100%;
    padding: 40px 20px;
  }
}

.comments__list{
  margin-top: 61px;
  @include mq(not-pc){
    margin-top: 40px;
  }
}

.comments__item{
  display: flex;
  &:not(:first-child){
    margin-top: 57px;
    @include mq(not-pc){
      margin-top: 40px;
    }
  }
}

.comments__item__image{
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  margin-top: 3px;
  @include mq(sp){
    width: 60px;
    height: 60px;
  }
  img{
    width: 100%;
    height: auto;
  }
}

.comments__item__text{
  margin-left: 32px;
  line-height: calc(24 / 16);
  @include mq(sp){
    margin-left: 20px;
    font-size: 0.875rem;
    line-height: calc(20 / 14);
  }
}

.comments__image__wrap{
  width: calc(534px / 1200px * 100%);
  position: relative;
  z-index: 20;
}
.comments__image{
  padding-top: calc(444px / 534px * 100%);
  height: 0;
  overflow: hidden;
  background: transparent url(../images/comments3.png) no-repeat center bottom -1px / cover;

}

/*===============================
FAQ
===============================*/
.faq{
  background: transparent url(../images/qa-bg.png) no-repeat center top / cover;
//  background-attachment: fixed;
  padding: 64px 0 120px;
  @include mq(not-pc){
    padding: 40px 0 60px;
  }
}

.faq__list{
  margin-top: 64px;
  width: 613px;
  max-width: 100%;
  margin-left: auto;
  @include mq(not-pc){
    margin-top: 40px;
  }
}

.faq__item{
  background-color: $color-bg-2;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  &:not(:first-child){
    margin-top: 32px;
  }
}

.faq__accordion__button{
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: transparent;
  text-align: left;
  width: 100%;
  height: 100%;
  padding: 17px 16px 15px 16px;
}
.faq__item__q{
  padding-left: 40px;
  position: relative;
  &::before{
    content: "Q";
    font-family: $font-family;
    font-size: 1rem;
    font-weight: $font-wight-semibold;
    line-height: 22px;
    color: $color-font-light;
    text-align: center;
    display: block;
    width: 24px;
    height: 24px;
    background-color: $color-faq-q-mark;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.faq__item__q__text{
  font-family: $font-family;
  font-size: 1rem;
  font-weight: bold;
  color: $color-font-dark;
  line-height: calc(24 / 16);
  letter-spacing: 0.025em;
}

.faq__item__a{
  margin-top: 15px;
  font-family: $font-family;
  font-size: 1rem;
  line-height: calc(24 / 16);
  background-color: $color-faq-a-bg;
  padding: 13px 16px 10px 16px;
  border-radius: 4px;
  display: none;
  @include mq(sp){
    font-size: 0.875rem;
    line-height: calc(20 / 14);
    padding: 9px 12px;
  }
}

.faq__item__btn-mark{
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

}

.faq__item__btn-mark__border{
  display: block;
  width: 100%;
  height: 3px;
  background-color: $color-faq-button;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  &:first-child{
    transition: all 0.3s ease 0s;
    transform: translateY(-50%) rotate(-90deg);

    .faq__item__btn-mark.is-open &{
      transform: translateY(-50%) rotate(0deg);
      opacity: 0.3;
    }
  }
}

/*===============================
Access
===============================*/
.access{
  padding-top: calc(10% - 3px);
  display: flex;
  align-items: start;
  background: linear-gradient(to top, $color-bg 0 21.25%, transparent 21.25% 100%),
              linear-gradient(to left, $color-bg 0 23.4375%, $color-main 23.4375% 100%);
  background-color: $color-bg;
  width: 100%;
  position: relative;
  @include mq(not-pc){
    padding: 40px 0 60px;
    background: $color-main;
  }
  @include mq(sp){
    display: block;

  }
  &::before{
    content: "";
    display: block;
    width: 100vw;
    height: 100%;
    background: linear-gradient(to top, $color-bg 0 21.25%,$color-main  21.25% 100%);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    @include mq(not-pc){
      display: none;
    }
  }

}

.access__text{
  width: 39.5%;
  padding-left: 60px;
  @include mq(pc){
    min-width: 400px;
  }
  @include mq(not-pc){
    padding-left: 40px;
  }
  @include mq(sp){
    width: 100%;
  }
}

.access__address{
  margin-top: 60px;
  font-family: $font-family-jp;
  font-weight: $font-wight-medium;
  font-style: normal;
  color: $color-font-light;
  line-height: calc(24 / 16);
  @include mq(not-pc){
    margin-top: 40px;
    font-size: 0.875rem;
    line-height: calc(20 / 14);
  }
}

.access__btn{
  margin-top: 28px;
  letter-spacing: 0.1em;
  @include mq(pc){
    padding-right: 78px;
  }
  @include mq(tab){
    width: 100%;
    text-align: center;
    padding: 21px 25px;
  }
  @include mq(sp){
    width: 339px;
    max-width: 100%;
    text-align: center;
  }
}

.access__map__wrap{
  width: 60.5%;
  margin-top: -4px;
  @include mq(tab){
    margin-top: 0;
    margin-left: 40px;
  }
  @include mq(sp){
    width: 100%;
    margin-top: 24px;
  }
}

.access__map{
  padding-top: calc(520px / 726px * 100%);
  height: 0;
  position: relative;

  iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/*===============================
contact
===============================*/
.contact{
  margin-top: 120px;
  background: transparent url(../images/contact-bg.png) no-repeat center center / cover;
  padding: 60px 0;
  @include mq(not-pc){
    margin-top: 0;
    padding: 40px 0;
  }
}

.contact__contents{
  margin: 0 auto;
  border-radius: 12px;
  background-color: $color-bg-2;

  @include mq(pc){
    width: calc($width-max-2 / $width-max-1 * 100%);
    max-width: $width-max-2;
  }
  @include mq(tab){
    width: calc(($width-max-2 + 100px) / $width-max-1 * 100%);
    max-width: $width-max-2;
  }
  @include mq(sp){
    width: 100%;
  }
}

.contact__contents__header{
  background: transparent url(../images/contact1.png) no-repeat center center / cover;
  padding: 65px 0 55px;
  border-radius: 12px 12px 0 0;
  text-align: center;
  @include mq(not-pc){
    padding: 40px 0;
  }
}

.contact__header__text{
  margin-top: 16px;
  color: $color-font-light;
  line-height: calc(24 / 16);
  @include mq(sp){
    margin-top: 12px;
  }
}

.contact__form{
  padding: 60px 120px;
  @include mq(tab){
    padding: 40px 60px;
  }
  @include mq(sp){
    padding: 40px 12px;
    overflow: hidden;
  }

  &.js-hidden{
    display: none;
  }
}

.contact__form__list{
  & > *{
    &:not(:first-child){
      margin-top: 32px;
    }
  }
}

.contact__form__row{
  display: flex;
  align-items: center;
  @include mq(sp){
    display: block;
  }
}

.contact__form__row__left{
  width: 188px;
  flex-shrink: 0;
  @include mq(sp){
    width: 100%;
  }
}

.contact__form__row__right{
  width: calc(100% - 188px);
  @include mq(sp){
    width: 100%;
    margin-top: 16px;
  }
}


.contact__form__item__label{
  display: block;
  width: 100%;
}

.contact__for__item__title{
  font-weight: bold;
  position: relative;
  .contact__form__item__label.is-required > &::after{
    content: "必須";
    display: block;
    width: 40px;
    height: 16px;
    text-align: center;
    background-color: $color-notice;
    border-radius: 2px;
    font-size: 0.75rem;
    font-weight: bold;
    color: $color-font-light;
    line-height: 16px;
    position: absolute;
    right: -51px;
    top: 50%;
    transform: translateY(-50%);
  }
}


.contact__form__select__wrap{
  display: inline-block;
  position: relative;
  @include mq(sp){
    display: block;
  }
}

.contact__form__select{
  appearance: none;
  border: 1px solid $color-contact-border;
  border-radius: 0;
  width: 178px;
  height: 40px;
  padding: 0 26px 0 10px;
  font-size: 1rem;
  font-weight: $font-wight-medium;
  color: $color-font-dark;
  cursor: pointer;
  transition: box-shadow 0.2s ease 0s;
  &:hover,&:focus,&:focus-visible {
    outline: none;
    border: 1px solid $color-contact-border-input-active;
    box-shadow: 0 0 5px $color-contact-mark-shadow;
  }
  @include mq(sp){
    width: 100%;
    height: 38px;
    font-size: 0.875rem;
  }
}

.contact__form__select__arrow{
  display: block;
  width: 8px;
  height: 8px;
  border-right: 2px solid $color-main;
  border-bottom: 2px solid $color-main;
  pointer-events:none;
  position: absolute;
  right: 17px;
  top: 13px;
  transform: rotate(45deg);
  z-index: 0;
}

.contact__form__select__item{

}

.contact__form__input{
  appearance: none;
  border: none;
  border-radius: 0;
  &::placeholder{
    color: $color-contact-placeholder;
  }

  &[type="text"],&[type="email"]{
    border-bottom: 1px solid $color-contact-border-input;
    border-radius: 0;
    width: 100%;
    height: 32px;
    padding: 0 24px 0 12px;
    font-family: $font-family-jp;
    font-size: 16px;
    font-weight: $font-wight-medium;
    color: $color-font-dark;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    &:hover,&:focus,&:focus-visible {
      outline: none;
      border-bottom: 1px solid $color-contact-border-input-active;
      box-shadow: 0 5px 4px -4px $color-contact-input-shadow;
    }
    @include mq(sp){
      height: 19px;
      padding: 0 24px 0 0;
      font-size: 0.875rem;
    }
  }

  &[type="radio"]{
    font-size: 16px;
  }

  &[type="checkbox"]{
    & + .check-box{
      padding-left: 40px;
      position: relative;
      @include mq(sp){
        display: inline-block;
      }
      &:before{
        content: "";
        display: block;
        width: 18px;
        height: 18px;
        border: 1px solid $color-contact-border;
        background-color: $color-bg-2;
        cursor: pointer;
        position: absolute;
        left: -1px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        transition: border-color 0.3s ease 0s,
                    box-shadow 0.3s ease 0s,
                    background-color  0.3s ease 0s;

      }
      &:hover::before{
        border-color: $color-mark;
        box-shadow: 0 0 5px $color-contact-mark-shadow;
      }
      &:active::before{
        border-color: $color-mark;
        background-color: $color-contact-mark-shadow;
      }

      &:after{
        content: "";
        display: block;
        width: 6px;
        height: 14px;
        border-right: 2px solid $color-mark;
        border-bottom: 2px solid $color-mark;
        cursor: pointer;
        position: absolute;
        left: 5px;
        top: 0;
        transform: rotate(45deg);
        z-index: 20;
        opacity: 0;
        transition: opacity 0.2s ease 0s;
      }
    }
    &:focus + .check-box::before,
    &:focus-visible + .check-box::before{
      border-color: $color-mark;
      box-shadow: 0 0 5px $color-contact-mark-shadow;
    }

    &:checked + .check-box::after{
      opacity: 1;
    }

  }
}

.contact__form__radio__group{
  & > .radio__item{
    display: inline-block;
    &:not(:first-child){
      margin-left: 35px;
    }

    & .radio-btn{
      padding-left: 20px;
      position: relative;

      &::before{
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        border: 1px solid;
        border-color: $color-contact-border;
        border-radius: 50%;
        background-color: $color-bg-2;
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: border-color 0.3s ease 0s,
                    box-shadow 0.3s ease 0s,
                    background-color  0.3s ease 0s;
      }
      &:hover::before{
        border-color: $color-mark;
        box-shadow: 0 0 6px $color-contact-mark-shadow;
      }
      &:active::before{
        border-color: $color-mark;
        background-color: $color-contact-mark-shadow;
      }
      &::after{
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        background-color: $color-mark;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        left: 3px;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        transition: opacity 0.2s ease 0s;
      }
    }

    & .contact__form__input:focus+.radio-btn::before,
    & .contact__form__input:focus-visible+.radio-btn::before{
      border-color: $color-mark;
      box-shadow: 0 0 6px $color-contact-mark-shadow;
    }

    & .contact__form__input:checked+.radio-btn::after{
      opacity: 1;
    }
  }
}

.contact__form__vertical{

}

.contact__form__vertical_top{
  
}
.contact__form__vertical_bottom{
  margin-top: 8px;
  @include mq(sp){
    margin-top: 12px;
  }
}
.contact__form__textarea{
  appearance: none;
  border: 1px solid $color-contact-border;
  border-radius: 0;
  width: 100%;
  min-height: 200px;
  resize: vertical;
  padding: 0.5em 1em;
  font-size: 1rem;
  font-weight: $font-wight-medium;
  color: $color-font-dark;
  line-height: calc(24 / 16);
  cursor: pointer;
  transition: all 0.2s ease 0s;
  &:hover,&:focus,&:focus-visible {
    outline: none;
    border: 1px solid $color-contact-border-input-active;
    box-shadow: 0 0 8px $color-contact-input-shadow;
  }
}

.contact__from__privacy__check{
  margin-top: 38px;
  @include mq(sp){
    margin-top: 33px;
  }

  & span{
    font-size: 1.125rem;
    font-weight: bold;
  }
}

.contact__form__btn{
  margin-top: 40px;
  @include mq(sp){
    display: block;
    margin: 35px auto 0;
  }
}

.contact__result{
  padding: 60px 40px;
  display: none;
}

.contact__success__message{
  font-size: 1.5rem;
  font-weight: bold;
  line-height: calc(24 / 16);
  text-align: center;
}
/*===============================
footer
===============================*/
.footer{
  background-color: $color-main;
  padding: 60px 0 50px;
}

.footer__contents{
  margin: 0 auto ;
  width: calc($width-max-2 / $width-max-1 * 100%);
  max-width: $width-max-2;
  display: flex;
  @include mq(tab){
    width: calc(($width-max-2 + 100px) / $width-max-1 * 100%);
  }
  @include mq(sp){
    display: block;
    width: 100%;
  }
}
.footer__links{
  margin-right: auto;
  @include mq(sp){
    text-align: center;
    margin-right: 0;
  }
}

.footer__sns__list{
  display: flex;
  @include mq(sp){
    justify-content: center;
  }
}

.footer__sns__item{
  &:not(:first-child){
    margin-left: 33px;
    @include mq(sp){
      margin-left: 50px;
    }
  }
}

.footer__sns__link{
  display: block;
  text-decoration: none;
  font-size: 2.25rem;
  font-weight: $font-wight-bold;
  color: $color-font-light;
  opacity: 0.6;
  transition: opacity 0.3s ease 0s;
  &:hover{
    opacity: 0.9;
  }
}

.footer__nav__list{
  margin-top: 31px;
  @include mq(sp){
    margin-top: 42px;
  }
}


.footer__nav__item{
  &:not(:first-child){
    margin-top: 4px;
    @include mq(sp){
      margin-top: 6px;
    }
  }
}

.footer__nav__link{
  display: block;
  text-decoration: none;
  color: $color-font-light;
  letter-spacing: 0.025rem;
  padding: 10px 0;
  @include mq(sp){
    font-size: 0.875rem;
  }
  &:hover{
    opacity: 0.6;
  }
}

.footer__text{
  margin-top: 5px;
  margin-left: auto;
  text-align: right;
  @include mq(sp){
    text-align: center;
    margin-top: 40px;
    margin-left: 0;
  }
}

.footer__logo__link{
  display: block;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: $font-wight-bold;
  color: $color-font-light;
  transition: opacity 0.3s ease 0s;
  @include mq(sp){
    font-size: 2rem;
  }
  &:hover{
    opacity: 0.6;
  }
}

.footer__copyright{
  display: block;
  margin-top: 17px;
  font-size: 0.75rem;
  font-weight: $font-wight-regular;
  color: $color-font-light;
  letter-spacing: 0.025em;
  opacity: 0.6;
  @include mq(sp){
    margin-top: 12px;
  }
}

/*===============================
to Top
===============================*/
.to-top{
  width: 100%;
  position: fixed;;
  bottom:0;
  left: 0;
  z-index: map-get($layer, to-top);
  pointer-events:none;
  display: none; /* 初期状態は非表示 スクロールで表示(js)*/

  background-color: red;
  opacity: 0.5;
  
}

.to-top__wrap{
  background-color: blue;
  pointer-events:none;
  position: relative;
}


.to-top__link{
  display: block;
  width: 50px;
  height: 50px;
  pointer-events:auto;
  transition: opacity 0.3s ease 0s;
  position: absolute;
  bottom: 40px;
  right: 0;
  &:hover{
    opacity: 0.6;
  }
}
