@charset "UTF-8";
/*================================================================
Chrome/Firefox/Edgeなど、各ブラウザはそれぞれデフォルトで効くCSSを持っています。
何もしないと見え方が微妙に変わるので、デフォルトのCSSをリセットして
ブラウザごとの表示の差異をなくすために書くのが「リセットCSS」です。
================================================================*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

/*========================
General Setting
=========================*/
html {
  font-size: 100%;
}

body {
  color: #082b48;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #fff;
  line-height: 1.5;
}

img {
  width: 100%;
  vertical-align: top; /* 画面下の隙間を消す */
}

a:hover {
  opacity: 0.7;
}

.container {
  max-width: 980px;
  margin: auto;
  width: 90%;
}

.section {
  padding: 60px 0;
}
@media screen and (max-width: 767px) {
  .section {
    padding: 80px 0;
  }
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .section-title {
    font-size: 1.5rem;
  }
}

/*========================
header
=========================*/
header {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 767px) {
  header {
    display: block;
  }
}

.header-title {
  font-size: 1.5rem;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .header-title {
    text-align: center;
  }
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-nav-item {
  margin-left: 50px;
  line-height: 36px;
}
.header-nav-item a {
  text-decoration: none;
  color: #082b48;
  font-size: 15px;
  font-weight: 600;
}
.header-nav-item.drawer {
  position: relative;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .header-nav-item {
    margin-left: 0;
  }
}

.header-nav-item-drawerbox {
  position: absolute;
  width: 100%;
  background-color: #FFF;
}

.header-nav-item-drawer-item {
  display: none; /* 初期状態は非表示、jQueryで表示/非表示を切り替え*/
  text-align: center;
  border-bottom: solid 1px #d8d8d8;
}
.header-nav-item-drawer-item a {
  display: block;
  width: 100%; /* リンク範囲を親要素いっぱいに広げる */
}

/*========================
scrollTop Button
=========================*/
.scroll_top {
  width: 45px;
  height: 45px;
  cursor: pointer;
  position: fixed;
  bottom: 80px;
  right: 2%;
  display: none;
  opacity: 0.3;
}
.scroll_top:hover {
  opacity: 0.8;
}

/*========================
top
=========================*/
.top {
  background-image: url(../img/main-vsual-nontitle.png);
  background-size: cover;
  padding: 80px 0;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .top {
    padding: 120px 0;
  }
}

.top-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .top-title {
    font-size: 2rem;
  }
}

.top-subtitle {
  font-size: 1.125rem;
}
@media screen and (max-width: 767px) {
  .top-subtitle {
    font-size: 0.875rem;
  }
}

/*========================
about
=========================*/
.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .about-content {
    display: block;
  }
}

.about-content-left {
  width: 48%;
  height: auto;
}
@media screen and (max-width: 767px) {
  .about-content-left {
    width: 100%;
    margin-bottom: 20px;
  }
}

.about-content-right {
  width: 48%;
  height: auto;
}
@media screen and (max-width: 767px) {
  .about-content-right {
    width: 100%;
    font-size: 0.875rem;
  }
}

/*========================
course
=========================*/
#course {
  background: #e3fcf4;
}

.course-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.course-content-item {
  width: 30%;
}
@media screen and (max-width: 767px) {
  .course-content-item {
    width: 100%;
    font-size: 0.875rem;
    margin-bottom: 20px;
  }
}
.course-content-item img {
  margin-bottom: 5px;
  cursor: pointer;
}

/***
モーダル
***/
/*モーダル本体の指定 + モーダル外側の背景の指定*/
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 40px 20px;
  overflow: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none; /* フェードイン時はFlexを使用し子要素を縦横中央に配置 */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; /* 子要素を垂直方向に中央揃え */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; /* 子要素に水平方向に中央揃え */
}

/*モーダル枠の指定*/
.modal-body {
  position: relative;
  width: 85%;
}

/*モーダルを閉じるボタンの指定*/
.modal-close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 40px;
  color: #fff;
  cursor: pointer;
}

/*========================
contact
=========================*/
.contact-text {
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .contact-text {
    font-size: 0.875rem;
  }
}

.contact-form input {
  display: block;
  margin: 0 auto 20px;
  width: 600px;
  padding: 15px;
  border: 3px solid #d8d8d8;
  border-radius: 999px;
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .contact-form input {
    width: 100%;
  }
}

.btn {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  padding: 20px 60px;
  border: none;
  border-radius: 4px;
}
.btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.btn-register {
  display: block;
  margin: auto;
  background-color: #ec6d64;
}

/*========================
footer
=========================*/
footer {
  padding: 20px 0;
  background-color: #082b48;
  color: #fff;
  text-align: right;
  font-size: 0.75rem;
}
@media screen and (max-width: 767px) {
  footer {
    text-align: center;
    font-size: 0.625rem;
  }
}